.statuspage-section {
    display: flex;
    flex-direction: column;
}

.statuspage-content{
    flex: 1;
}

.statuspage-icon {
    color: #fff;
}

.statuspage-subtite{
    opacity: 0.6;
}

.statuspage-buttons{
    
}