//
// DISCLAIMER:
// Do not change this file because it is core styling.
// Customizing core files will make updating Atlas much more difficult in the future.
// To customize any core styling, copy the part you want to customize to styles/web/sass/app/ so the core styling is overwritten.
//

/* ==========================================================================
   Navigation

//== Design Properties
//## Helper classes to change the look and feel of the component
========================================================================== */
// Content Centerd text and icons
.nav-content-center-text-icons.mx-navigationtree {
    .navbar-inner ul {
        a {
            flex-direction: column;
            justify-content: center;
            .glyphicon {
                margin: 0 0 5px 0;
            }
        }
    }
}

// Content Centerd icons only
.nav-content-center.mx-navigationtree {
    .navbar-inner ul {
        a {
            justify-content: center;
        }
    }
}
