//
// DISCLAIMER:
// Do not change this file because it is core styling.
// Customizing core files will make updating Atlas much more difficult in the future.
// To customize any core styling, copy the part you want to customize to styles/web/sass/app/ so the core styling is overwritten.
//

/* ==========================================================================
   Rating

   Default Mendix Rating Widget.
========================================================================== */

.widget-star-rating-empty {
    color: #CCCCCC;
}

.widget-star-rating-full-widget {
    color: #FFA611;
}

.widget-star-rating-full-default {
    color: #CED0D3;
}

.widget-star-rating-font-medium {
    font-size: 30px;
}
