.devicephone {
    width: 420px;
    height: 992px;
    margin: auto;
    padding: 120px 40px;
    background: url(../../../resources/phone.png) no-repeat center center;

    .deviceframe,
    .deviceshadowwrapper {
        border-radius: 40px;
    }
}

.devicetablet {
    width: 1210px;
    height: 1000px;
    margin: auto;
    padding: 120px 100px;
    background: url(../../../resources/tablet.png) no-repeat center center;

    .deviceframe,
    .deviceshadowwrapper {
        border-radius: 20px;
    }
}

.deviceframe {
    width: 100%;
    height: 100%;
    border: none;
}
.deviceshadowwrapper {
    position: relative;
    width: 100%;
    height: 100%;
}
.deviceshadow {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    pointer-events: none;
    box-shadow: inset 10px 0 10px -10px black, inset -10px 0 10px -10px black;
}
.devicedisclaimer {
    margin-top: 80px;
    padding: 10px;
    text-align: center;
    color: $gray-light;
    border-top: 1px solid $border-color-default;
    font-size: 12px;
    line-height: 20px;
}
