//== Widget style exclusion
$exclude-background-helpers: false;
$exclude-badge: false;
$exclude-badge-button: false;
$exclude-badge-button-helpers: false;
$exclude-barcode-scanner: false;
$exclude-button: false;
$exclude-button-helpers: false;
$exclude-check-box: false;
$exclude-custom-dijit-widget: false;
$exclude-custom-switch: false;
$exclude-data-grid: false;
$exclude-data-grid-helpers: false;
$exclude-data-view: false;
$exclude-data-picker: false;
$exclude-glyphicon: false;
$exclude-grid: false;
$exclude-group-box: false;
$exclude-group-box-helpers: false;
$exclude-header: false;
$exclude-helper-classes: false;
$exclude-input: false;
$exclude-image-helpers: false;
$exclude-label: false;
$exclude-label-helpers: false;
$exclude-layout-grid: false;
$exclude-list-view: false;
$exclude-list-view-helpers: false;
$exclude-modal: false;
$exclude-navigation-bar: false;
$exclude-navigation-bar-helpers: false;
$exclude-navigation-list: false;
$exclude-navigation-tree: false;
$exclude-navigation-tree-helpers: false;
$exclude-pagination: false;
$exclude-pop-up-menu: false;
$exclude-progress: false;
$exclude-progress-bar: false;
$exclude-progress-bar-helpers: false;
$exclude-progress-circle: false;
$exclude-progress-circle-helpers: false;
$exclude-radio-button: false;
$exclude-range-slider: false;
$exclude-range-slider-helpers: false;
$exclude-rating: false;
$exclude-rating-helpers: false;
$exclude-simple-menu-bar: false;
$exclude-simple-menu-bar-helpers: false;
$exclude-slider: false;
$exclude-slider-helpers: false;
$exclude-table: false;
$exclude-table-helpers: false;
$exclude-tab-container: false;
$exclude-tab-container-helpers: false;
$exclude-template-grid: false;
$exclude-template-grid-helpers: false;
$exclude-timeline: false;
$exclude-typography: false;
$exclude-typography-helpers: false;
