$primary-color: #264ae5;
$border-color: #ced0d3;
$background-color: #fff;
$icon-color: #606671;
$pagination-button-color: #3b4251;
$pagination-caption-color: #0a1325;
$dragging-color-effect: rgba(10, 19, 37, 0.8);

.table {
    position: relative;
    border-width: 0;
    background-color: transparent;

    /* Table Content */
    .table-content {
        display: grid;
        position: relative;

        &.infinite-loading {
            overflow-y: scroll;
        }
    }

    /* Column Header */
    .th {
        display: flex;
        align-items: flex-start;
        font-weight: 600;
        border-style: solid;
        border-color: $border-color;
        border-top-width: 0;
        border-right: 0;
        border-bottom-width: 1px;
        border-left: 0;
        background-color: $background-color;
        padding: 16px 8px;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        z-index: 10;

        /* Clickable column header (Sortable) */
        .clickable {
            cursor: pointer;
        }

        /* Column resizer when column is resizable */
        .column-resizer {
            padding: 0 4px;
            align-self: stretch;
            cursor: col-resize;

            &:hover .column-resizer-bar{
                background-color: $primary-color;
            }
            &:active .column-resizer-bar{
                background-color: $primary-color;
            }

            .column-resizer-bar {
                height: 100%;
                width: 4px;
            }
        }

        /* Content of the column header */
        .column-container {
            flex-grow: 1;
            align-self: stretch;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            /* Styles while dragging another column */
            &.dragging {
                border-left: 4px solid $dragging-color-effect;
            }
        }

        /* Header text */
        .column-header {
            display: flex;
            flex-grow: 1;
            justify-content: space-between;
            align-items: center;

            svg {
                color: $icon-color;
            }
        }

        /* Header filter */
        .filter {
            display: flex;
            margin-top: 4px;
            input {
                font-weight: normal;
                flex-grow: 1;
                width: 100%;
            }
            > .form-group {
                margin-bottom: 0;
            }
            > .form-control {
                flex: unset;
                min-width: unset;
            }
        }
    }

    /* Column selector for hidable columns */
    .column-selector {
        padding-left: 0;
        padding-right: 0;

        /* Column content */
        .column-selector-content {
            align-self: flex-end;

            /* Button containing the eye icon */
            .column-selector-button {
                padding: 8px;
                margin: 0 8px;
            }

            /* List of columns to select */
            .column-selectors {
                position: absolute;
                width: max-content;
                right: 0;
                margin: 8px;
                padding: 0 16px;
                background: $background-color;
                z-index: 99;
                border-radius: 3px;
                border: 1px solid transparent;
                list-style-type: none;
                -webkit-box-shadow: 0 2px 20px 1px rgba(32, 43, 54, 0.08);
                -moz-box-shadow: 0 2px 20px 1px rgba(32, 43, 54, 0.08);
                box-shadow: 0 2px 20px 1px rgba(32, 43, 54, 0.08);

                li {
                    display: flex;
                    align-items: center;

                    label {
                        margin: 8px;
                        font-weight: normal;
                    }
                }
            }
        }
    }

    /* Column content */
    .td {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 8px;
        border-width: 0;
        border-color: $border-color;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        background-color: $background-color;
        overflow: hidden;

        &:focus {
            outline: none;
        }

        > .td-text,
        * {
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    & *:focus {
        outline: 0;
    }
}

.pagination-bar {
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
    align-items: baseline;
    margin: 16px;
    color: $pagination-caption-color;

    .paging-status {
        padding: 0 8px 8px;
    }

    .pagination-button {
        padding: 6px;
        color: $pagination-button-color;
        border-color: transparent;
        background-color: transparent;

        &:hover {
            color: $primary-color;
            border-color: transparent;
            background-color: transparent;
        }

        &:disabled{
            border-color: transparent;
            background-color: transparent;
        }
    }
}
