@import "variables";

.widget-progress-bar {
    width: 100%
}

.widget-progress-bar-clickable:hover {
    cursor: pointer;
}

.widget-progress-bar-negative {
    float: right;
    display: block;
}

@import "progress-bar-theme";
