* @mendix/native-content @mendix/web-content
**/*-native/**/* @mendix/native-content
**/*-web/**/* @mendix/web-content
**/nanoflow-actions-hybrid/**/* @mendix/native-content
**/customWidgets/**/* @mendix/web-content
**/atlas/**/native/**/* @mendix/native-content
**/atlas/**/web/**/* @mendix/web-content
.gitmodules @mendix/web-content
