* @mendix/native-content @mendix/web-content
**/*-native/**/* @mendix/native-content
**/*-web/**/* @mendix/web-content
**/hybrid-mobile-actions/**/* @mendix/native-content
**/nanoflow-commons/**/* @mendix/native-content
**/native-mobile-resources/**/* @mendix/native-content
**/web-nanoflow-actions/**/* @mendix/web-content
**/customWidgets/**/* @mendix/web-content
**/atlas/**/native/**/* @mendix/native-content
**/atlas/**/web/**/* @mendix/web-content
