* @mendix/native-content @mendix/web-content
**/*-native/**/* @mendix/native-content
**/*-web/**/* @mendix/web-content
**/data-widgets/**/* @mendix/web-content
**/nanoflow-actions-hybrid/**/* @mendix/native-content
**/nanoflow-actions-native/**/* @mendix/native-content
**/mobile-resources-native/**/* @mendix/native-content
**/nanoflow-actions-web/**/* @mendix/web-content
**/customWidgets/**/* @mendix/web-content
**/atlas/**/native/**/* @mendix/native-content
**/atlas/**/web/**/* @mendix/web-content
.gitmodules @mendix/web-content
scripts/release/createNativeModules.js @mendix/native-content
scripts/release/createWebModules.js @mendix/web-content
packages/tools/pluggable-widgets-tools/configs/rollup.config.js @mendix/web-content
packages/tools/pluggable-widgets-tools/configs/rollup.config.native.js @mendix/native-content
packages/tools/pluggable-widgets-tools/configs/rollup-plugin-collect-dependencies.js @mendix/native-content
