//
// DISCLAIMER:
// Do not change this file because it is core styling.
// Customizing core files will make updating Atlas much more difficult in the future.
// To customize any core styling, copy the part you want to customize to styles/web/sass/app/ so the core styling is overwritten.
//

@mixin accordion() {
    /* ==========================================================================
       Accordion

       Default Mendix accordion widget styles.
    ========================================================================== */

    .widget-accordion {
        background-color: $bg-color-secondary;

        .widget-accordion-group {
            @include get-accordion-group-styles(
                $accordion-header-default-bg,
                $accordion-header-default-bg-hover,
                $accordion-default-border-color,
                $accordion-header-header-default-color,
                $brand-primary
            );
        }

        @include get-accordion-root-helper-styles($accordion-default-border-color);
    }
}

@mixin get-accordion-group-styles($background-color, $background-color-hover, $border-color, $color, $color-hover) {
    border-bottom: 1px solid $border-color;

    .widget-accordion-group-header {
        background-color: $background-color;
        padding: $spacing-medium;

        > :is(h1, h2, h3, h4, h5, h6, p, span) {
            color: $color;
        }

        &.widget-accordion-group-header-clickable {
            &:hover,
            &:focus,
            &:active {
                background-color: $background-color-hover;

                > :is(h1, h2, h3, h4, h5, h6, p, span) {
                    color: $color-hover;
                }
            }

            &:focus {
                outline: 2px solid $brand-primary;
            }
        }
    }

    .widget-accordion-group-content {
        border-color: $border-color;
        padding: $spacing-small $spacing-medium $spacing-large $spacing-medium;
    }
}

@mixin get-accordion-root-helper-styles($border-color) {
    &.widget-accordion-bordered-all {
        border: 1px solid $border-color;

        .widget-accordion-group {
            &:last-child {
                border-bottom: 0;
            }
        }
    }

    &.widget-accordion-bordered-horizontal {
        .widget-accordion-group {
            &:first-child {
                border-top: 1px solid $accordion-default-border-color;
            }
        }
    }

    &.widget-accordion-bordered-none {
        .widget-accordion-group {
            border-bottom: none;
        }
    }

    &.widget-accordion-striped {
        .widget-accordion-group:nth-child(2n + 1) {
            .widget-accordion-group-header {
                background-color: $accordion-bg-striped; // TODO check how it works with semantic colors
                &:hover,
                &:focus,
                &:active {
                    background-color: $accordion-bg-striped-hover;
                }
            }

            .widget-accordion-group-content {
                background-color: $accordion-bg-striped;
            }
        }
    }

    &.widget-accordion-compact {
        .widget-accordion-group {
            .widget-accordion-group-header {
                padding: $spacing-smaller $spacing-small;
            }

            .widget-accordion-group-content {
                padding: $spacing-smaller $spacing-small $spacing-medium $spacing-small;
            }
        }
    }
}
