//
// DISCLAIMER:
// Do not change this file because it is core styling.
// Customizing core files will make updating Atlas much more difficult in the future.
// To customize any core styling, copy the part you want to customize to styles/web/sass/app/ so the core styling is overwritten.
//

@mixin accordion() {
    /* ==========================================================================
       Accordion

       Default Mendix accordion widget styles.
    ========================================================================== */

    .widget-accordion {
        background-color: $bg-color-secondary;

        .widget-accordion-group {
            @include get-accordion-group-styles(
                $accordion-primary-bg,
                $accordion-primary-bg-hover,
                $accordion-primary-border-color,
                $accordion-primary-color,
                vertical
            );
        }

        &.widget-accordion-bordered-all {
            .widget-accordion-group {
                @include get-accordion-group-styles(
                    $accordion-primary-bg,
                    $accordion-primary-bg-hover,
                    $accordion-primary-border-color,
                    $accordion-primary-color,
                    all
                );
            }
        }

        &.widget-accordion-bordered-none {
            .widget-accordion-group {
                @include get-accordion-group-styles(
                    $accordion-primary-bg,
                    $accordion-primary-bg-hover,
                    $accordion-primary-border-color,
                    $accordion-primary-color,
                    none
                );
            }
        }

        &.widget-accordion-striped {
            .widget-accordion-group:nth-child(2n + 1) {
                .widget-accordion-group-content {
                    background-color: $accordion-bg-striped;
                }
            }
        }
    }
}

@mixin get-accordion-group-styles($background-color, $background-color-hover, $border-color, $color, $border) {
    &:first-child {
        border-top: none;
    }

    border-bottom: none;

    @if $border == vertical {
        border-bottom: 1px solid $border-color;
    }

    .widget-accordion-group-header {
        background-color: $background-color;
        padding: $spacing-medium;

        > :is(h1, h2, h3, h4, h5, h6, p, span) {
            color: $color;
        }

        &.widget-accordion-group-header-clickable {
            &:hover,
            &:hover *,
            &:focus,
            &:focus *,
            &:active,
            &:active * {
                cursor: pointer;
                background-color: $background-color-hover;
                color: $color;
            }
        }
    }

    .widget-accordion-group-content {
        @if $border == all {
            border-right: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
            border-left: 1px solid $border-color;
        }
        padding: $spacing-small $spacing-medium $spacing-large $spacing-medium;
    }
}
