//
// DISCLAIMER:
// Do not change this file because it is core styling.
// Customizing core files will make updating Atlas much more difficult in the future.
// To customize any core styling, copy the part you want to customize to styles/web/sass/app/ so the core styling is overwritten.
//

@mixin accordion() {
    /* ==========================================================================
       Accordion

       Default Mendix accordion widget styles.
    ========================================================================== */

    .widget-accordion {
        background-color: $bg-color-secondary;

        .widget-accordion-group {
            @include get-accordion-group-styles(
                $accordion-primary-bg,
                $accordion-primary-bg-hover,
                $accordion-primary-border-color,
                $accordion-primary-color
            );
        }

        @include get-accordion-root-helper-styles();
    }
}

@mixin get-accordion-group-styles($background-color, $background-color-hover, $border-color, $color) {
    &:first-child {
        border-top: none;
    }

    border-bottom: 1px solid $border-color;

    .widget-accordion-group-header {
        background-color: $background-color;
        padding: $spacing-medium;

        > :is(h1, h2, h3, h4, h5, h6, p, span) {
            color: $color;
        }

        &.widget-accordion-group-header-clickable {
            &:hover,
            &:focus,
            &:active {
                background-color: $background-color-hover;

                > :is(h1, h2, h3, h4, h5, h6, p, span) {
                    color: $color;
                }
            }
        }
    }

    .widget-accordion-group-content {
        border-color: $border-color;
        padding: $spacing-small $spacing-medium $spacing-large $spacing-medium;
    }
}

@mixin get-accordion-root-helper-styles() {
    &.widget-accordion-bordered-all {
        .widget-accordion-group {
            border-bottom: none;

            .widget-accordion-group-content {
                border-right-width: 1px;
                border-right-style: solid;
                border-bottom-width: 1px;
                border-bottom-style: solid;
                border-left-width: 1px;
                border-left-style: solid;
            }
        }
    }

    &.widget-accordion-bordered-none {
        .widget-accordion-group {
            border-bottom: none;
        }
    }

    &.widget-accordion-striped {
        .widget-accordion-group:nth-child(2n + 1) {
            .widget-accordion-group-content {
                background-color: $accordion-bg-striped;
            }
        }
    }

    &.widget-accordion-compact {
        .widget-accordion-group {
            .widget-accordion-group-header {
                padding: $spacing-smaller $spacing-small;
            }

            .widget-accordion-group-content {
                padding: $spacing-smaller $spacing-small $spacing-medium $spacing-small;
            }
        }
    }
}
