//
// DISCLAIMER:
// Do not change this file because it is core styling.
// Customizing core files will make updating Atlas much more difficult in the future.
// To customize any core styling, copy the part you want to customize to styles/web/sass/app/ so the core styling is overwritten.
//

@mixin sliderColorVariant($colorMain) {
    .rc-slider-track {
        background-color: $colorMain;
    }

    .rc-slider-handle:focus {
        border-color: $colorMain;
        box-shadow: 0 0 0 5px lighten($colorMain, 25%);
        outline: none;
    }

    .rc-slider-handle-click-focused:focus {
        border-color: lighten($colorMain, 25%);
        box-shadow: unset;
    }

    .rc-slider-dot-active,
    .rc-slider-handle:hover {
        border-color: $colorMain;
    }

    .rc-slider-handle:active {
        border-color: $colorMain;
        box-shadow: 0 0 5px $colorMain;
    }
}

@mixin slider() {
    /* ==========================================================================
       Slider

       Default Mendix slider widget.
    ========================================================================== */

    .widget-slider {
        margin-bottom: 16px;
        padding: 5px 10px;

        .rc-slider-handle {
            border-color: $brand-default;
        }

        .rc-slider.rc-slider-with-marks {
            padding-bottom: 25px;
        }

        @include sliderColorVariant($brand-primary);
    }

    .widget-slider-primary {
        @include sliderColorVariant($brand-primary);
    }

    .widget-slider-success {
        @include sliderColorVariant($brand-success);
    }

    .widget-slider-warning {
        @include sliderColorVariant($brand-warning);
    }

    .widget-slider-danger {
        @include sliderColorVariant($brand-danger);
    }
}
