//
// DISCLAIMER:
// Do not change this file because it is core styling.
// Customizing core files will make updating Atlas much more difficult in the future.
// To customize any core styling, copy the part you want to customize to styles/web/sass/app/ so the core styling is overwritten.
//

@mixin slider() {
    /* ==========================================================================
       Slider

       Default Mendix slider widget.
    ========================================================================== */

    .widget-slider {
        margin-bottom: 16px;
        padding: 5px 10px;

        .rc-slider-handle,
        .rc-slider-dot-active {
            border-color: $brand-default;
        }

        .rc-slider.rc-slider-with-marks {
            padding-bottom: 25px;
        }

        .rc-slider-track {
            background-color: $brand-primary;
        }
    }

    .widget-slider-primary {
        .rc-slider-track {
            background-color: $brand-primary;
        }
    }

    .widget-slider-success {
        .rc-slider-track {
            background-color: $brand-success;
        }
    }

    .widget-slider-warning {
        .rc-slider-track {
            background-color: $brand-warning;
        }
    }

    .widget-slider-danger {
        .rc-slider-track {
            background-color: $brand-danger;
        }
    }
}
