.widget-shrinking-header-threshold {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100px; // Should be dynamic in the future

    & > header {
        width: 100%;
    }
}
