.widget-wrapper {
    max-height: 100vh;
    display: flex;
    flex-direction: column;

    & > div {
        flex: 1;
        overflow: scroll;
    }
}

//.widget-wrapper-min-max {
//    max-height: 100vh;
//    overflow: scroll;
//
//    & > header {
//        position: fixed;
//        width: 100%;
//    }
//
//    & > div {
//        margin-top: 100px;
//    }
//}

.shrinking-header-min-max {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 10;

    .header {
        width: 100%;
        position: fixed;
        background-color: green;
        z-index: 9;
    }

    .scroll-container {
        padding-top: 100px;
        position: relative;
        z-index: 8;
    }
}
