//
// DISCLAIMER:
// Do not change this file because it is core styling.
// Customizing core files will make updating Atlas much more difficult in the future.
// To customize any core styling, copy the part you want to customize to styles/web/sass/app/ so the core styling is overwritten.
//

/* ==========================================================================
   Badge button

   Different background components, all managed by variables
========================================================================== */

.btn-secondary,
.btn-default {
  .badge {
    color: $btn-default-bg;
    background-color: $btn-primary-bg;
  }
}

.btn-success {
  .badge {
    color: $btn-success-bg;
  }
}

.btn-warning {
  .badge {
    color: $btn-warning-bg;
  }
}

.btn-danger {
  .badge {
    color: $btn-danger-bg;
  }
}
