//
// DISCLAIMER:
// Do not change this file because it is core styling.
// Customizing core files will make updating Atlas much more difficult in the future.
// To customize any core styling, copy the part you want to customize to styles/web/sass/app/ so the core styling is overwritten.
//

@mixin gallery-helpers() {
    /* ==========================================================================
       Gallery default

    //== Design Properties
    //## Helper classes to change the look and feel of the component
    ========================================================================== */
    // All borders
    .widget-gallery-bordered-all {
        .widget-gallery-item {
            border: 1px solid $grid-border-color;
        }
    }

    // Vertical borders
    .widget-gallery-bordered-vertical {
        .widget-gallery-item {
            border-color: $grid-border-color;
            border-style: solid;
            border-width: 0;
            border-left-width: 1px;
            border-right-width: 1px;
        }
    }

    // Horizontal orders
    .widget-gallery-bordered-horizontal {
        .widget-gallery-item {
            border-color: $grid-border-color;
            border-style: solid;
            border-width: 0;
            border-top-width: 1px;
            border-bottom-width: 1px;
        }
    }

    // Hover styles
    .widget-gallery-hover {
        .widget-gallery-items {
            .widget-gallery-item:hover {
                background-color: $grid-bg-hover;
            }
        }
    }

    // Striped styles
    .widget-gallery-striped {
        .widget-gallery-item:nth-child(odd) {
            background-color: $grid-bg-striped;
        }
        .widget-gallery-item:nth-child(even) {
            background-color: #FFF;
        }
    }

    // Grid spacing none
    .widget-gallery.widget-gallery-gridgap-none {
        .widget-gallery-items{
            gap: 0;
        }
    }

    // Grid spacing small
    .widget-gallery.widget-gallery-gridgap-small {
        .widget-gallery-items{
            gap: $spacing-small;
        }
    }

    // Grid spacing medium
    .widget-gallery.widget-gallery-gridgap-medium {
        .widget-gallery-items{
            gap: $spacing-medium;
        }
    }

    // Grid spacing large
    .widget-gallery.widget-gallery-gridgap-large {
        .widget-gallery-items{
            gap: $spacing-large;
        }
    }

    // Pagination left
    .widget-gallery-pagination-left {
        .widget-gallery-pagination {
            .pagination-bar {
                justify-content: flex-start;
            }
        }
    }

    // Pagination center
    .widget-gallery-pagination-center {
        .widget-gallery-pagination {
            .pagination-bar {
                justify-content: center;
            }
        }
    }
}
