//
// DISCLAIMER:
// Do not change this file because it is core styling.
// Customizing core files will make updating Atlas much more difficult in the future.
// To customize any core styling, copy the part you want to customize to styles/web/sass/app/ so the core styling is overwritten.
//

@mixin tree-node-helpers() {
    /* ==========================================================================
       Tree Node

    //== Design Properties
    //## Helper classes to change the look and feel of the component
    ========================================================================== */

    .widget-tree-view-hover {
        .widget-tree-view-branch:hover > .widget-tree-view-branch-header {
            background-color: $grid-bg-hover;
        }
    }

    .widget-tree-view-bordered-horizontal {
        .widget-tree-view-branch > .widget-tree-view-branch-header {
            border-width: 0;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: $grid-border-color;
        }
    }

    .widget-tree-view-bordered-all {
        border: 1px solid $grid-border-color;
        border-radius: 8px;
        overflow: hidden;

        .widget-tree-view-body:not(.widget-tree-view-branch-loading) {
            border-width: 0;
            border-top-width: 1px;
            border-top-style: solid;
            border-top-color: #ced0d3;
        }
        .widget-tree-view-branch:not(:first-of-type) > .widget-tree-view-branch-header {
            border-width: 0;
            border-top-width: 1px;
            border-top-style: solid;
            border-top-color: #ced0d3;
        }
    }

    .widget-tree-view-bordered-none {
        border-width: 0;
        .widget-tree-view-branch > .widget-tree-view-branch-header {
            border-width: 0;
        }
    }
}
