[submodule "packages/pluggableWidgets/fieldset-web/tests/testProject"]
	path = packages/pluggableWidgets/fieldset-web/tests/testProject
	url = https://github.com/mendix/testProjects.git
	branch = fieldset-web
[submodule "packages/pluggableWidgets/maps-web/tests/testProject"]
	path = packages/pluggableWidgets/maps-web/tests/testProject
	url = https://github.com/mendix/testProjects.git
	branch = maps-web
[submodule "packages/pluggableWidgets/badge-web/tests/testProject"]
	path = packages/pluggableWidgets/badge-web/tests/testProject
	url = https://github.com/mendix/testProjects.git
	branch = badge-web
[submodule "packages/pluggableWidgets/video-player-web/tests/testProject"]
	path = packages/pluggableWidgets/video-player-web/tests/testProject
	url = https://github.com/mendix/testProjects.git
	branch = video-player-web
[submodule "packages/pluggableWidgets/progress-bar-web/tests/testProject"]
	path = packages/pluggableWidgets/progress-bar-web/tests/testProject
	url = https://github.com/mendix/testProjects.git
	branch = progress-bar-web
[submodule "packages/pluggableWidgets/accessibility-helper-web/tests/testProject"]
	path = packages/pluggableWidgets/accessibility-helper-web/tests/testProject
	url = https://github.com/mendix/testProjects.git
	branch = accessibility-helper-web
[submodule "packages/pluggableWidgets/badge-button-web/tests/testProject"]
	path = packages/pluggableWidgets/badge-button-web/tests/testProject
	url = https://github.com/mendix/testProjects.git
	branch = badge-button-web
[submodule "packages/pluggableWidgets/signature-native/tests/testProject"]
	path = packages/pluggableWidgets/signature-native/tests/testProject
	url = https://github.com/mendix/testProjects.git
	branch = signature-native
[submodule "packages/pluggableWidgets/progress-circle-web/tests/testProject"]
	path = packages/pluggableWidgets/progress-circle-web/tests/testProject
	url = https://github.com/mendix/testProjects.git
	branch = progress-circle-web
[submodule "packages/customWidgets/carousel-web/tests/testProject"]
	path = packages/customWidgets/carousel-web/tests/testProject
	url = https://github.com/mendix/testProjects.git
	branch = carousel-web
[submodule "packages/customWidgets/signature-web/tests/testProject"]
	path = packages/customWidgets/signature-web/tests/testProject
	url = https://github.com/mendix/testProjects.git
	branch = signature-web
[submodule "packages/customWidgets/color-picker-web/tests/testProject"]
	path = packages/customWidgets/color-picker-web/tests/testProject
	url = https://github.com/mendix/testProjects.git
	branch = color-picker-web
[submodule "packages/customWidgets/switch-web/tests/testProject"]
	path = packages/pluggableWidgets/switch-web/tests/testProject
	url = https://github.com/mendix/testProjects.git
	branch = switch-web
[submodule "packages/customWidgets/calendar-web/tests/testProject"]
	path = packages/customWidgets/calendar-web/tests/testProject
	url = https://github.com/mendix/testProjects.git
	branch = calendar-web
[submodule "packages/customWidgets/image-viewer-web/tests/testProject"]
	path = packages/customWidgets/image-viewer-web/tests/testProject
	url = https://github.com/mendix/testProjects.git
	branch = image-viewer-web
[submodule "packages/customWidgets/rich-text-web/tests/testProject"]
	path = packages/customWidgets/rich-text-web/tests/testProject
	url = https://github.com/mendix/testProjects.git
	branch = rich-text-web
[submodule "packages/customWidgets/range-slider-web/tests/testProject"]
	path = packages/customWidgets/range-slider-web/tests/testProject
	url = https://github.com/mendix/testProjects.git
	branch = range-slider-web
[submodule "packages/customWidgets/star-rating-web/tests/testProject"]
	path = packages/customWidgets/star-rating-web/tests/testProject
	url = https://github.com/mendix/testProjects.git
	branch = star-rating-web
[submodule "packages/customWidgets/slider-web/tests/testProject"]
	path = packages/customWidgets/slider-web/tests/testProject
	url = https://github.com/mendix/testProjects.git
	branch = slider-web
[submodule "packages/pluggableWidgets/timeline-web/tests/testProject"]
	path = packages/pluggableWidgets/timeline-web/tests/testProject
	url = https://github.com/mendix/testProjects.git
	branch = timeline-web
[submodule "packages/pluggableWidgets/popup-menu-web/tests/testProject"]
	branch = popupmenu-web
	url = https://github.com/mendix/testProjects.git
	path = packages/pluggableWidgets/popup-menu-web/tests/testProject
[submodule "packages/pluggableWidgets/datagrid-web/tests/testProject"]
	path = packages/pluggableWidgets/datagrid-web/tests/testProject
	url = https://github.com/mendix/testProjects.git
	branch = datagrid-web
[submodule "packages/pluggableWidgets/datagrid-text-filter-web/tests/testProject"]
	path = packages/pluggableWidgets/datagrid-text-filter-web/tests/testProject
	url = https://github.com/mendix/testProjects.git
	branch = datagrid-text-filter-web
[submodule "packages/pluggableWidgets/datagrid-number-filter-web/tests/testProject"]
	path = packages/pluggableWidgets/datagrid-number-filter-web/tests/testProject
	url = https://github.com/mendix/testProjects.git
	branch = datagrid-number-filter-web
