.DS_Store
.idea
.vscode
dist
node_modules
.env
*.log
*.bak
*.launch
mxproject
coverage

detox/apps
detox/*.log
**/results
mendixProject
**/e2e/diffs
**/screenshot
**/screenshot-results
**/tests/testProject
**/pluggableWidgets/**/artifacts

**/cypress/videos
**/cypress/screenshots
**/cypress-visual-report
**/cypress-visual-screenshots/comparison
**/cypress-visual-screenshots/diff

tests
