{
    "editor.formatOnSave": true,
    "singleQuote": true,
    "printWidth": 160,
    "proseWrap": "always",
    "tabWidth": 4,
    "requireConfig": false,
    "useTabs": false,
    "trailingComma": "all",
    "bracketSpacing": true,
    "semi": true,
    "arrowParens": "avoid"
}
