//
// DISCLAIMER:
// Do not change this file because it is core styling.
// Customizing core files will make updating Atlas much more difficult in the future.
// To customize any core styling, copy the part you want to customize to styles/web/sass/app/ so the core styling is overwritten.
//

/* ==========================================================================
   Tab Container

//== Design Properties
//## Helper classes to change the look and feel of the component
========================================================================== */
// Style as pills
.tab-pills.mx-tabcontainer {
    & > .mx-tabcontainer-tabs {
        border: 0;
        & > li > a {
            margin-right: 2px;
            color: $tabs-color;
            border: 1px solid $tabs-border-color;
            border-radius: 4px;
            &:hover,
            &:focus {
                background-color: $tabs-bg-hover;
            }
        }
        & > li.active > a,
        & > li.active > a:hover,
        & > li.active > a:focus {
            color: #FFFFFF;
            border-color: $tabs-bg-active;
            background-color: $tabs-bg-active;
        }
    }
}

// Style with lines
.tab-lined.mx-tabcontainer {
    & > .mx-tabcontainer-tabs {
        border-width: 3px;
        li {
            margin-right: 30px;
            margin-bottom: -3px;
            & > a {
                padding: 10px 0;
                color: $tabs-color;
                border: 0;
                border-style: solid;
                border-color: transparent;
                border-bottom-width: 3px;
                border-radius: 0;
                &:hover,
                &:focus {
                    color: $tabs-color;
                    border: 0;
                    border-color: transparent;
                    background: transparent;
                }
            }
            &.active > a,
            &.active > a:hover,
            &.active > a:focus {
                color: $tabs-lined-color-active;
                border: 0;
                border-bottom: 3px solid $tabs-lined-border-color;
                background-color: transparent;
            }
        }
    }
}

// Justified style
// Lets your tabs take 100% of the width
.tab-justified.mx-tabcontainer {
    & > .mx-tabcontainer-tabs {
        width: 100%;
        border-bottom: 0;
        & > li {
            display: table-cell;
            float: none;
            width: 1%;
            margin: 0;
            @media (max-width: $screen-sm-max) {
                display: block;
                width: 100%;
            }
            & > a {
                text-align: center;
                border-bottom: 1px solid $tabs-border-color;
            }
        }
        & > li.active > a {
            border-bottom-color: transparent;
            border-radius: 4px;
            @media (max-width: $screen-sm-max) {
                border-bottom-color: $tabs-border-color;
            }
        }
    }
}

// Bordered
.tab-bordered.mx-tabcontainer {
    & > .mx-tabcontainer-tabs {
        margin: 0;
    }
    & > .mx-tabcontainer-content {
        padding: 10px;
        border-width: 0 1px 1px 1px;
        border-style: solid;
        border-color: $tabs-border-color;
        background-color: #FFFFFF;
    }
}

// Wizard
.tab-wizard.mx-tabcontainer {
    & > .mx-tabcontainer-tabs {
        position: relative;
        display: flex;
        justify-content: space-between;
        border-style: none;

        &::before {
            position: absolute;
            top: 16px;
            display: block;
            width: 100%;
            height: 1px;
            content: "";
            background-color: $tabs-border-color;
        }
        & > li {
            position: relative;
            float: none;
            width: 100%;
            text-align: center;
            & > a {
                width: 33px;
                height: 33px;
                margin: auto;
                padding: 0;
                text-align: center;
                color: $brand-default;
                border: 1px solid $tabs-border-color;
                border-radius: 100%;
                background-color: #FFFFFF;
                font-size: 18px;
                font-weight: bold;
                line-height: 33px;
            }
            &.active {
                & > a,
                & > a:hover,
                & > a:focus {
                    color: #FFFFFF;
                    border-color: $tabs-bg-active;
                    background-color: $tabs-bg-active;
                }
            }
        }
    }
}
