$primary-color: #264ae5;
$hover-color: #f8f8f8;
$background-color: #fff;
$arrow: "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='15px' height='8px'><polyline id='Line' fill='none' stroke='%23555555' points='0.5 0.5 6 6 11.545361 0.5'></polyline></svg>";

.dropdown-container {
    flex: 1;

    .dropdown-triggerer {
        caret-color: transparent;
        cursor: pointer;

        background-image: url($arrow);
        background-repeat: no-repeat;
        background-position: center;
        background-position-x: right;
        background-position-y: center;
        background-origin: content-box;
        text-overflow: ellipsis;
    }

    .dropdown-list {
        position: absolute;
        width: max-content;
        left: 0;
        margin: 0 8px;
        padding: 0;
        background: $background-color;
        z-index: 99;
        border-radius: 8px;
        list-style-type: none;
        box-shadow: 0 2px 20px 1px rgba(5, 15, 129, 0.05), 0 2px 16px 0 rgba(33, 43, 54, 0.08);
        overflow-x: hidden;
        display: none;
        max-height: 40vh;

        &.dropdown-list-visible {
            display: block;
        }

        li {
            display: flex;
            align-items: center;
            font-weight: normal;
            min-height: 32px;
            cursor: pointer;
            padding: 0 8px;

            .filter-label {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            &.filter-selected {
                background-color: $hover-color;
                color: $primary-color;
            }

            &:hover,
            &:focus {
                background-color: $hover-color;
            }

            label {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                margin: 8px;
                font-weight: normal;
                width: calc(100% - 32px);
            }
        }
    }
}
