.grid {
    height: 100%;

    .boolean {
        margin-left: -8px;
        margin-right: -8px;
        padding: 0 8px;

        &.booleanTrue {
            background-color: #afe494;
        }
        &.booleanFalse {
            background-color: #e494af;
        }
        &.booleanUndefined {}
    }
}

