.size-box {
    position: relative;
    width: 100%;
    height: 0;
}

.size-box-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.widget-video-player-iframe {
    position: absolute;
    border: 0px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.widget-video-player-html5 {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
}

.widget-video-player-html5-container {
    height: 100%;
    width: 100%;
}

.video-error-label-html5 {
    position: absolute;
    color: #ccc;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 1;
    align-items: center;
    justify-content: center;
    font-size: 1.4vw;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.hasError {
    display: flex;
}

.widget-video-player-preview-play-button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 1;
}

.widget-video-player-show-controls .widget-video-player-preview-play-button path:first-child {
    fill: #000000;
}
