import { createElement } from "react";
import { shallow } from "enzyme";

import { HelloWorldSample, HelloWorldSampleProps } from "../HelloWorldSample";

describe("HelloWorldSample", () => {
    // eslint-disable-next-line @typescript-eslint/explicit-function-return-type
    const createHelloWorld = (props: HelloWorldSampleProps) => shallow(<HelloWorldSample {...props} />);

    it("should render the structure correctly", () => {
        const helloWorldProps: HelloWorldSampleProps = {
            sampleText: "World"
        };

        const helloWorld = createHelloWorld(helloWorldProps);

        expect(
            helloWorld.equals(
                <div className="widget-hello-world">Hello {helloWorldProps.sampleText}</div>
            )
        ).toEqual(true);
    });
});
