@import "custom-variables";

//
.badge {
    padding: 6px 10px;
    border-radius: 12px;
}

//== Helpers
.border {
    border: 1px solid #dfe3e8;
}

.border-bottom {
    border-bottom: 1px solid #dfe3e8;
}

.border-right {
    border-right: 1px solid #dfe3e8;
}

.border-rounded {
    border-radius: $border-radius-default;
}

// Widgets
.fileinput-btn-primary .btn {
    @extend .btn-primary;
}

//== Building blocks

//
.page-actions {
    color: #637381;
}

// Widgets.css ??
.widget-drop-down-sort {
    padding-bottom: 0;
}

.widget-text-box-search .search-bar {
    display: flex;
    padding-bottom: 0;

    input {
        display: flex;
    }
}
