/* ==========================================================================
   Atlas layout

   Extra styling for phone layouts
========================================================================== */
@mixin layout-atlas-phone() {
    .layout-atlas-phone {
        .region-topbar {
            min-height: $m-header-height;
            border-style: none;
            background-color: $m-header-bg;

            &::before {
                display: none;
            }
        }

        .region-sidebar {
            .mx-navigationtree .navbar-inner > ul > li > a .glyphicon {
                margin-right: $spacing-medium;
            }
        }
    }
}
