@import "mixins";
@import "variables";

$brand-primary: #264ae5;
$brand-secondary: #e7e7e9;
$brand-success: #3cb33d;
$brand-warning: #eca51c;
$brand-danger: #e33f4e;

@import "switch";

// applied when no `Device style` design-property selected and no `Style` design-property selected (default). Useful for when Atlas is not included.
.widget-switch {
    .widget-switch-btn-wrapper {
        &.checked {
            &.widget-switch-btn-wrapper-default {
                @include bootstrap-style-ios($default-ios-color);
            }
        }
    }
}

// applied when android `Device style` design-property selected and no `Style` design-property selected (default). Useful for when Atlas is not included.
.android {
    .widget-switch {
        .widget-switch-btn-wrapper {
            &.checked {
                &.widget-switch-btn-wrapper-default {
                    @include bootstrap-style-android($default-android-color);

                    .widget-switch-btn {
                        background: $default-android-color;
                    }
                }
            }
        }
    }
}
