/* ==========================================================================
   Alignment Blocks

========================================================================== */
.flexcontainer {
    display: flex;
    overflow: hidden;
    flex: 1;
    flex-direction: row;
    .flexitem {
        margin-right: $gutter-size;
        &:last-child {
            margin-right: 0;
        }
    }
    .flexitem-main {
        overflow: hidden;
        flex: 1;
    }
}
