/* ==========================================================================
   Full page blocks

   Blocks that take up the full width and height
========================================================================== */

.fullpageblock {
    position: relative;
    height: 100%;
    min-height: 100%;

    // Helper to make it fullheight
    .fullheight {
        height: 100% !important;

        & > .mx-dataview-content {
            height: inherit !important;
        }
    }

    .fullpage-overlay {
        position: absolute;
        z-index: 10;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}
