//
// DISCLAIMER:
// Do not change this file because it is core styling.
// Customizing core files will make updating Atlas much more difficult in the future.
// To customize any core styling, copy the part you want to customize to styles/web/sass/app/ so the core styling is overwritten.
//

@mixin get-responsive-spacing-large($type: padding, $direction: all, $is_important: false) {
    $suffix: "";
    $dash: "-"; // Otherwise it will be interpreted as a minus symbol. Needed for the Gonzales PE version: 3.4.7 compiler (used by the Webmodeler)

    @if $is_important != false {
        $suffix: " !important";
    }
    @if $direction==all {
        @media (max-width: $screen-sm-max) {
            #{$type}: #{$m-spacing-large}#{$suffix};
        }
        @media (min-width: $screen-md) {
            #{$type}: #{$t-spacing-large}#{$suffix};
        }
        @media (min-width: $screen-lg) {
            #{$type}: #{$spacing-large}#{$suffix};
        }
    } @else {
        @media (max-width: $screen-sm-max) {
            #{$type}#{$dash}#{$direction}: #{$m-spacing-large}#{$suffix};
        }
        @media (min-width: $screen-md) {
            #{$type}#{$dash}#{$direction}: #{$t-spacing-large}#{$suffix};
        }
        @media (min-width: $screen-lg) {
            #{$type}#{$dash}#{$direction}: #{$spacing-large}#{$suffix};
        }
    }
}

@mixin get-responsive-spacing-medium($type: padding, $direction: all, $is_important: false) {
    $suffix: "";
    $dash: "-"; // Otherwise it will be interpreted as a minus symbol. Needed for the Gonzales PE version: 3.4.7 compiler (used by the Webmodeler)

    @if $is_important != false {
        $suffix: " !important";
    }
    @if $direction==all {
        @media (max-width: $screen-sm-max) {
            #{$type}: #{$m-spacing-medium}#{$suffix};
        }
        @media (min-width: $screen-md) {
            #{$type}: #{$t-spacing-medium}#{$suffix};
        }
        @media (min-width: $screen-lg) {
            #{$type}: #{$spacing-medium}#{$suffix};
        }
    } @else {
        @media (max-width: $screen-sm-max) {
            #{$type}#{$dash}#{$direction}: #{$m-spacing-medium}#{$suffix};
        }
        @media (min-width: $screen-md) {
            #{$type}#{$dash}#{$direction}: #{$t-spacing-medium}#{$suffix};
        }
        @media (min-width: $screen-lg) {
            #{$type}#{$dash}#{$direction}: #{$spacing-medium}#{$suffix};
        }
    }
}
