.widget-signature-wrapper {
    position: relative;
    > canvas {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }
    canvas {
        &.widget-Signature {
            padding: 0px;
            &.disabled {
                pointer-events: none;
                background-color: rgb(238, 238, 238)
            }
            &.signature-grid {
                z-index: 0;
            }
            &.signature-canvas {
                z-index: 1;
            }
            &.signature-capture-grid {
                opacity: 0;
            }
        }
    }
}

