.widget-signature {

    &-wrapper {
        overflow: hidden;
        padding: 0 !important;
    }

    &-canvas {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        background: transparent;
    }

    .alert {
        position: absolute;
    }
}

