.widget-signature-wrapper {
    position: relative;
    > canvas {
        position: absolute;
        left: 0;
        top: 0;
    }
    canvas {
        &.widget-signature {
            padding: 0px;
            &.signature-grid {
                z-index: 0;
            }
            &.signature-canvas {
                z-index: 1;
                background: transparent;
            }
        }
    }
}

