.widget-Signature {
    div {
        clear: both;
    }

    canvas {
        position: relative;
        left:     0px;
        right:    0px;
        max-width: none;
    }

    button.btn {
        width: 100px;
    }

    &.signature-unset {
        canvas {
            display: block;
            touch-action: none;
        }
    }
}