/* ==========================================================================
   Form Block

   Used in default forms
========================================================================== */
.formblock {
    width: 100%;
    margin-bottom: $spacing-large;
}

//== Elements
//-------------------------------------------------------------------------------------------------------------------//
.form-title {
}
