/* ==========================================================================
   Pageheader
========================================================================== */

//== Default
//-------------------------------------------------------------------------------------------------------------------//
.pageheader {
    width: 100%;
    margin-bottom: $spacing-large;
}

//== Elements
//-------------------------------------------------------------------------------------------------------------------//
.pageheader-title {
}

.pageheader-subtitle {
}

.pageheader-image {
}
