.widget-wrapper {
    max-height: 100vh;
    display: flex;
    flex-direction: column;

    & > div {
        flex: 1;
        overflow: scroll;
    }
}

.widget-wrapper-min-max {
    max-height: 100vh;
    overflow: scroll;

    & > header {
        position: fixed;
        width: 100%;
    }

    & > div {
        margin-top: 100px;
    }
}
