.mx-image-viewer {
    height: 100%;
    width: 100%;
}

.mx-image-viewer-responsive img {
    max-width: 100%;
    max-height: 100%;
}

.mx-image-viewer-lightbox-overlay {
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    inset: 0px;

    .close-button {
        position: absolute;
        top: 30px;
        right: 30px;
        color: white;
        display: flex;
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;

        .removeIcon {
            height: 16px;
            width: 16px;
        }
    }
}
