@import "variables";

.widget-star-rating-font {
    font-size: 30px;
}

.widget-star-rating-empty {
    color: #ccc;
}

.widget-star-rating-full-widget {
    color: #ffa611;
}

@import "star-rating-theme";
