{
    "singleQuote": false,
    "printWidth": 120,
    "proseWrap": "always",
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "all",
    "bracketSpacing": true,
    "semi": true,
    "arrowParens": "avoid"
}
