//
// DISCLAIMER:
// Do not change this file because it is core styling.
// Customizing core files will make updating Atlas much more difficult in the future.
// To customize any core styling, copy the part you want to customize to styles/web/sass/app/ so the core styling is overwritten.
//

//== Widget style exclusion
$exclude-background-helpers: false !default;
$exclude-badge: false !default;
$exclude-button: false !default;
$exclude-button-helpers: false !default;
$exclude-check-box: false !default;
$exclude-data-grid: false !default;
$exclude-data-grid-helpers: false !default;
$exclude-data-view: false !default;
$exclude-date-picker: false !default;
$exclude-glyphicon: false !default;
$exclude-grid: false !default;
$exclude-group-box: false !default;
$exclude-group-box-helper: false !default;
$exclude-header: false !default;
$exclude-helper-classes: false !default;
$exclude-image-helpers: false !default;
$exclude-input: false !default;
$exclude-label: false !default;
$exclude-label-helpers: false !default;
$exclude-layout-grid: false !default;
$exclude-list-view: false !default;
$exclude-list-view-helpers: false !default;
$exclude-modal: false !default;
$exclude-navigation-bar: false !default;
$exclude-navigation-bar-helpers: false !default;
$exclude-navigation-list: false !default;
$exclude-navigation-tree: false !default;
$exclude-navigation-tree-helpers: false !default;
$exclude-pagination: false !default;
$exclude-pop-up-menu: false !default;
$exclude-progress: false !default;
$exclude-progress-bar: false !default;
$exclude-progress-bar-helpers: false !default;
$exclude-progress-circle: false !default;
$exclude-progress-circle-helpers: false !default;
$exclude-radio-button: false !default;
$exclude-range-slider: false !default;
$exclude-range-slider-helpers: false !default;
$exclude-rating: false !default;
$exclude-rating-helpers: false !default;
$exclude-simple-menu-bar: false !default;
$exclude-simple-menu-bar-helpers: false !default;
$exclude-slider: false !default;
$exclude-slider-helpers: false !default;
$exclude-table: false !default;
$exclude-table-helpers: false !default;
$exclude-tab-container: false !default;
$exclude-tab-container-helpers: false !default;
$exclude-template-grid: false !default;
$exclude-template-grid-helpers: false !default;
$exclude-timeline: false !default;
$exclude-typography: false !default;
$exclude-typography-helpers: false !default;
