//
// DISCLAIMER:
// Do not change this file because it is core styling.
// Customizing core files will make updating Atlas much more difficult in the future.
// To customize any core styling, copy the part you want to customize to styles/web/sass/app/ so the core styling is overwritten.
//

//== Widget style exclusion
$exclude-backgrounds-helpers: false !default;
$exclude-badge: false !default;
$exclude-buttons: false !default;
$exclude-buttons-helpers: false !default;
$exclude-check-box: false !default;
$exclude-data-grids: false !default;
$exclude-data-grids-helpers: false !default;
$exclude-data-view: false !default;
$exclude-date-picker: false !default;
$exclude-glyphicons: false !default;
$exclude-grid: false !default;
$exclude-group-box: false !default;
$exclude-group-box-helpers: false !default;
$exclude-header: false !default;
$exclude-helper-classes-helpers: false !default;
$exclude-images-helpers: false !default;
$exclude-inputs: false !default;
$exclude-labels: false !default;
$exclude-labels-helpers: false !default;
$exclude-layout-grid: false !default;
$exclude-list-view: false !default;
$exclude-list-view-helpers: false !default;
$exclude-modals: false !default;
$exclude-navigation-bar: false !default;
$exclude-navigation-bar-helpers: false !default;
$exclude-navigation-list: false !default;
$exclude-navigation-tree: false !default;
$exclude-navigation-tree-helpers: false !default;
$exclude-pagination: false !default;
$exclude-popup-menu: false !default;
$exclude-progress: false !default;
$exclude-progress-bar: false !default;
$exclude-progress-bar-helpers: false !default;
$exclude-progress-circle: false !default;
$exclude-progress-circle-helpers: false !default;
$exclude-radio-buttons: false !default;
$exclude-range-slider: false !default;
$exclude-range-slider-helpers: false !default;
$exclude-rating: false !default;
$exclude-rating-helpers: false !default;
$exclude-simple-menubar: false !default;
$exclude-simple-menubar-helpers: false !default;
$exclude-slider: false !default;
$exclude-slider-helpers: false !default;
$exclude-tables: false !default;
$exclude-tables-helpers: false !default;
$exclude-tab-container: false !default;
$exclude-tab-container-helpers: false !default;
$exclude-template-grids: false !default;
$exclude-template-grids-helpers: false !default;
$exclude-timeline: false !default;
$exclude-typography: false !default;
$exclude-typography-helpers: false !default;
