@use "sass:map";

//== Widget style exclusion
$map: ();
$map: map.set($map, "exclude-background-helpers", false);
$map: map.set($map, "exclude-badge", false);
$map: map.set($map, "exclude-badge-button", false);
$map: map.set($map, "exclude-badge-button-helpers", false);
$map: map.set($map, "exclude-button", false);
$map: map.set($map, "exclude-button-helpers", false);
$map: map.set($map, "exclude-check-box", false);
$map: map.set($map, "exclude-custom-dijit-widget", false);
$map: map.set($map, "exclude-custom-switch", false);
$map: map.set($map, "exclude-data-grid", false);
$map: map.set($map, "exclude-data-grid-helpers", false);
$map: map.set($map, "exclude-data-view", false);
$map: map.set($map, "exclude-data-picker", false);
$map: map.set($map, "exclude-glyphicon", false);
$map: map.set($map, "exclude-grid", false);
$map: map.set($map, "exclude-group-box", false);
$map: map.set($map, "exclude-group-box-helpers", false);
$map: map.set($map, "exclude-header", false);
$map: map.set($map, "exclude-helper-classes", false);
$map: map.set($map, "exclude-input", false);
$map: map.set($map, "exclude-image-helpers", false);
$map: map.set($map, "exclude-label", false);
$map: map.set($map, "exclude-label-helpers", false);
$map: map.set($map, "exclude-layout-grid", false);
$map: map.set($map, "exclude-list-view", false);
$map: map.set($map, "exclude-list-view-helpers", false);
$map: map.set($map, "exclude-modal", false);
$map: map.set($map, "exclude-navigation-bar", false);
$map: map.set($map, "exclude-navigation-bar-helpers", false);
$map: map.set($map, "exclude-navigation-list", false);
$map: map.set($map, "exclude-navigation-tree", false);
$map: map.set($map, "exclude-navigation-tree-helpers", false);
$map: map.set($map, "exclude-pagination", false);
$map: map.set($map, "exclude-pop-up-menu", false);
$map: map.set($map, "exclude-progress", false);
$map: map.set($map, "exclude-progress-bar", false);
$map: map.set($map, "exclude-progress-bar-helpers", false);
$map: map.set($map, "exclude-progress-circle", false);
$map: map.set($map, "exclude-progress-circle-helpers", false);
$map: map.set($map, "exclude-radio-button", false);
$map: map.set($map, "exclude-range-slider", false);
$map: map.set($map, "exclude-range-slider-helpers", false);
$map: map.set($map, "exclude-rating", false);
$map: map.set($map, "exclude-rating-helpers", false);
$map: map.set($map, "exclude-simple-menu-bar", false);
$map: map.set($map, "exclude-simple-menu-bar-helpers", false);
$map: map.set($map, "exclude-slider", false);
$map: map.set($map, "exclude-slider-helpers", false);
$map: map.set($map, "exclude-table", false);
$map: map.set($map, "exclude-table-helpers", false);
$map: map.set($map, "exclude-tab-container", false);
$map: map.set($map, "exclude-tab-container-helpers", false);
$map: map.set($map, "exclude-template-grid", false);
$map: map.set($map, "exclude-template-grid-helpers", false);
$map: map.set($map, "exclude-timeline", false);
$map: map.set($map, "exclude-typography", false);
$map: map.set($map, "exclude-typography-helpers", false);
