@import "variables";

.widget-progress-circle {
    width: 100%;
}

.widget-progress-circle {
    .h1, .h2, .h3, .h4, .h5, .h6 {
        margin: 0px;
    }
}

.widget-progress-circle-trail-path {
    stroke: #eee;
}

.widget-progress-circle-alert {
    .progressbar-text {
        color: red !important; /* The Progress library has inline styling on the circle text */
    }
}

.widget-progress-circle-clickable{
    cursor: pointer;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .widget-progress-circle > div {
        height: 0;
        padding: 0;
        width: 100%;
        padding-bottom: 100%;

        & > svg {
            top: 0;
            left: 0;
            height: 100%;
            position: absolute;
        }
    }
}

@import "progress-circle-theme";
