/* ==========================================================================
   Cards

========================================================================== */
.card {
    border: 0;
    border-radius: $border-radius-default;
    background-color: #ffffff;
    box-shadow: 0 2px 20px 1px rgba(5, 15, 129, 0.05);
    overflow: hidden;
    position: relative;
}

//== Card components
//-------------------------------------------------------------------------------------------------------------------//
.card-body{
}

.card-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.6);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(250,250,250,0) 8%, rgba(0,0,0,0.99) 121%, #000 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(250,250,250,0) 8%, rgba(0,0,0,0.99) 121%, #000 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(250,250,250,0) 8%, rgba(0,0,0,0.99) 121%, #000 100%);
}

.card-title {
}

.card-image{
    width: 100%;
    height: auto;
}

.card-supportingtext{

}

.card-action{

}

//== Variations
//-------------------------------------------------------------------------------------------------------------------//
.card-with-image {
    overflow: hidden;
}

.card-with-background{
    position: relative;
}
