$border-color: #ced0d3;

.widget-accordion {
    background-color: #ffffff;
}

.widget-accordion-group {
    &:first-child {
        border-top: 1px solid $border-color;
    }

    border-bottom: 1px solid $border-color;

    &.widget-accordion-group-collapsed {
        &:first-child {
            border-top: none;
        }

        .widget-accordion-group-content {
            display: none;
        }
    }

    .widget-accordion-group-header {
        padding: 16px;

        > :is(h1, h2, h3, h4, h5, h6, p) {
            margin-bottom: 0;
        }

        &.widget-accordion-group-header-clickable {
            &:hover,
            &:hover *,
            &:focus,
            &:focus *,
            &:active,
            &:active * {
                cursor: pointer;
                background-color: #f8f8f8;
                color: #264ae5;
            }
        }
    }

    .widget-accordion-group-content {
        padding: 8px 16px 24px 16px;
    }
}
