.widget-accordion-group {
    border-top: 1px solid #ced0d3;
    border-bottom: 1px solid #ced0d3;

    > header {
        padding: 12px 16px;
    }

    > header:hover {
        background-color: #f8f8f8;

        > h3 {
            color: #264ae5;
        }
    }

    > div {
        padding: 8px 16px 24px 16px;
    }

    &.collapsed {
        border-top: none;

        div {
            display: none;
        }
    }
}
