// Based on https://raw.githubusercontent.com/mendix/mendix-ui-theme-bluewave/master/styles/sass/custom/_custom-variables.scss
// https://github.com/mendix/mendix-ui-theme-bluewave/blob/dd72604859ffee6e84428daeaf80994d7642a8d4/styles/sass/custom/_custom-variables.scss
// Date 12-04-2017

//== Mendix UI Framework - Welcome to variables file
//## The Basic step includes the customization that is also available in the Mendix Theme Creator (https://ux.mendix.com)

//
// ██████╗  █████╗ ███████╗██╗ ██████╗
// ██╔══██╗██╔══██╗██╔════╝██║██╔════╝
// ██████╔╝███████║███████╗██║██║
// ██╔══██╗██╔══██║╚════██║██║██║
// ██████╔╝██║  ██║███████║██║╚██████╗
// ╚═════╝ ╚═╝  ╚═╝╚══════╝╚═╝ ╚═════╝
//

//== Step 1: Brand Colors
$brand-default: #dddddd;
$brand-primary: #59c2e6;
$brand-inverse: #000;
$brand-info: #8ad4ed;
$brand-success: #8cc152;
$brand-warning: #f6bb42;
$brand-danger: #d9534f;

$brand-logo: false;
$brand-logo-height: 40px;
$brand-logo-width: 40px; // Only used for CSS brand logo

//== Step 2: UI Customization

// Topbar
$topbar-bg: rgba(0, 0, 0, 0.3);
$topbar-minimalheight: 80px;

// Sidebar
$sidebar-bg: rgba(0, 0, 0, 0.3);

// Navbar Brand Name / For your company, product, or project name (used in layouts/base/)
$navbar-brand-name: #fff;

// Background Colors
$bg-color: #fff;
// Background color that is used for specific page templates background
$bg-color-secondary: transparent;

// Default Font Size & Color
$font-base-size: 14px;
$font-base-color: #fff;

// Default Link Color
$link-color: $brand-primary;
$link-hover-color: darken($link-color, 15%);

//
//  █████╗ ██████╗ ██╗   ██╗ █████╗ ███╗   ██╗ ██████╗███████╗██████╗
// ██╔══██╗██╔══██╗██║   ██║██╔══██╗████╗  ██║██╔════╝██╔════╝██╔══██╗
// ███████║██║  ██║██║   ██║███████║██╔██╗ ██║██║     █████╗  ██║  ██║
// ██╔══██║██║  ██║╚██╗ ██╔╝██╔══██║██║╚██╗██║██║     ██╔══╝  ██║  ██║
// ██║  ██║██████╔╝ ╚████╔╝ ██║  ██║██║ ╚████║╚██████╗███████╗██████╔╝
// ╚═╝  ╚═╝╚═════╝   ╚═══╝  ╚═╝  ╚═╝╚═╝  ╚═══╝ ╚═════╝╚══════╝╚═════╝
//

//== Typography
//## Change your font family, weight, line-height, headings and more (used in components/typography)

// Font Family Import / Google Fonts - Roboto
$font-family-import: "https://fonts.googleapis.com/css?family=Roboto";

// Font Family / False = fallback from Bootstrap (Helvetica Neue)
$font-family-base: "Roboto", sans-serif; //false;
$font-family-light: "Roboto", sans-serif; //false;
$font-family-semibold: "Roboto", sans-serif; //false;
$font-family-bold: "Roboto", sans-serif; //false;

// Font Size
$font-size-large: ceil($font-base-size * 1.25); // ~18px
$font-size-small: ceil($font-base-size * 0.85); // ~12px

// Font Weights
$font-weight-light: 100;
$font-weight-normal: normal;
$font-weight-semibold: 500;
$font-weight-bold: bold;

$font-weight-headers: $font-weight-normal;

// Font Header Size
$font-size-h1: 31px;
$font-size-h2: 26px;
$font-size-h3: 20px;
$font-size-h4: 16px;
$font-size-h5: $font-base-size;
$font-size-h6: 11px;

// Font Header Color
$font-color-headers: $font-base-color;

// Line Height
$line-height-base: 1.428571429;

//== Gray Shades
//## Different gray shades to be used for our variables and components
$gray-darker: #222;
$gray-dark: #333;
$gray: #555;
$gray-light: #999;
$gray-primary: #ddd;
$gray-lighter: #eee;

//== Global Border Color
// The default border color used by Datagrid, Listview, Tables, Dataview, Modals and more
$default-border-color: $gray-primary;

//== Navigation
//## Used in components/navigation

// Navigation Sidebar
$navsidebar-font-size: $font-base-size;
$navsidebar-sub-font-size: $font-size-small;
$navsidebar-glyph-size: 1.2em; // For glyphicons that you can select in the Mendix Modeler

$navsidebar-bg: $sidebar-bg;
$navsidebar-bg-hover: lighten($navsidebar-bg, 4);
$navsidebar-bg-active: lighten($navsidebar-bg, 8);
$navsidebar-color: #fff;
$navsidebar-color-hover: $brand-primary;
$navsidebar-color-active: $brand-primary;

$navsidebar-sub-bg: darken($navsidebar-bg, 4);
$navsidebar-sub-bg-hover: rgba(0, 0, 0, 0.3);
$navsidebar-sub-bg-active: rgba(0, 0, 0, 0.3);
$navsidebar-sub-color: #fff;
$navsidebar-sub-color-hover: $brand-primary;
$navsidebar-sub-color-active: $brand-primary;

$navsidebar-border-color: $navsidebar-bg-hover;

// Navigation topbar
$navtopbar-font-size: $font-base-size;
$navtopbar-sub-font-size: $font-size-small;
$navtopbar-glyph-size: 1.2em; // For glyphicons that you can select in the Mendix Modeler

$navtopbar-bg: $topbar-bg;
$navtopbar-bg-hover: darken($navtopbar-bg, 4);
$navtopbar-bg-active: darken($navtopbar-bg, 8);
$navtopbar-color: #000;
$navtopbar-color-hover: $brand-primary;
$navtopbar-color-active: $brand-primary;

$navtopbar-sub-bg: lighten($navtopbar-bg, 4);
$navtopbar-sub-bg-hover: $navtopbar-sub-bg;
$navtopbar-sub-bg-active: $navtopbar-sub-bg;
$navtopbar-sub-color: #aaa;
$navtopbar-sub-color-hover: $brand-primary;
$navtopbar-sub-color-active: $brand-primary;

$navtopbar-border-color: $navtopbar-bg-hover;

//== Form
//## Used in components/inputs

// Form Label
$form-label-color: #666;
$form-label-size: $font-base-size;
$form-label-weight: $font-weight-normal;

// Form Input
$form-input-height: auto;
$form-input-padding-y: 6px;
$form-input-padding-x: 8px;
$form-input-font-size: $form-label-size;
$form-input-line-height: $line-height-base;
$form-input-border-radius: 4px;

// Form Input styling
$form-input-bg: rgba(0, 0, 0, 0.1);
$form-input-bg-focus: rgba(0, 0, 0, 0.1);
$form-input-bg-disabled: rgba(238, 238, 238, 0.09);
$form-input-color: #fff;
$form-input-focus-color: #fff;
$form-input-disabled-color: #fff;
$form-input-placeholder-color: $gray-light;
$form-input-border-color: rgba(255, 255, 255, 0.3);
$form-input-border-focus-color: rgba(255, 255, 255, 0.3);

// Form Group
$form-group-margin-bottom: 15px;
$form-group-gutter: 15px;

//== Buttons
//## Define background-color, border-color and text. Used in components/buttons

// Button Text Size
$btn-font-size: 12px;

// Button Background Color
$btn-default-bg: $brand-default;
$btn-inverse-bg: $brand-inverse;
$btn-primary-bg: $brand-primary;
$btn-info-bg: $brand-info;
$btn-success-bg: $brand-success;
$btn-warning-bg: $brand-warning;
$btn-danger-bg: $brand-danger;

// Button Border Color
$btn-default-border-color: $brand-default;
$btn-inverse-border-color: $brand-inverse;
$btn-primary-border-color: $brand-primary;
$btn-info-border-color: $brand-info;
$btn-success-border-color: $brand-success;
$btn-warning-border-color: $brand-warning;
$btn-danger-border-color: $brand-danger;

// Button Text Color
$btn-default-color: $brand-inverse;
$btn-inverse-color: #fff;
$btn-primary-color: #fff;
$btn-info-color: #fff;
$btn-success-color: #fff;
$btn-warning-color: #fff;
$btn-danger-color: #fff;

//
// ███████╗██╗  ██╗██████╗ ███████╗██████╗ ████████╗
// ██╔════╝╚██╗██╔╝██╔══██╗██╔════╝██╔══██╗╚══██╔══╝
// █████╗   ╚███╔╝ ██████╔╝█████╗  ██████╔╝   ██║
// ██╔══╝   ██╔██╗ ██╔═══╝ ██╔══╝  ██╔══██╗   ██║
// ███████╗██╔╝ ██╗██║     ███████╗██║  ██║   ██║
// ╚══════╝╚═╝  ╚═╝╚═╝     ╚══════╝╚═╝  ╚═╝   ╚═╝
//

//== Color variations
//## These variations are used to support several other variables and components

// Basic Text colors
$color-text-black: #000;
$color-text-white: #fff;
$color-text-black-secondary: lighten($color-text-black, 40%);
$color-text-black-disabled: rgba($color-text-black, 0.26);
$color-text-black-hint: rgba($color-text-black, 0.26);

$color-text-white-secondary: rgba($color-text-white, 0.7);
$color-text-white-disabled: rgba($color-text-white, 0.3);
$color-text-white-hint: rgba($color-text-white, 0.3);

// Color variations
// $color-default-darker:                  shade($brand-default,40);
// $color-default-dark:                    shade($brand-default,26);
// $color-default-light:                   tint($brand-default,40);
// $color-default-lighter:                 tint($brand-default,80);

// $color-inverse-darker:                  shade($brand-inverse,40);
// $color-inverse-dark:                    shade($brand-inverse,26);
// $color-inverse-light:                   tint($brand-inverse,40);
// $color-inverse-lighter:                 tint($brand-inverse,80);

$color-primary-darker: shade($brand-primary, 40);
$color-primary-dark: shade($brand-primary, 26);
$color-primary-light: tint($brand-primary, 40);
$color-primary-lighter: tint($brand-primary, 80);

$color-info-darker: shade($brand-info, 40);
$color-info-dark: shade($brand-info, 26);
$color-info-light: tint($brand-info, 40);
$color-info-lighter: tint($brand-info, 80);

$color-success-darker: shade($brand-success, 40);
$color-success-dark: shade($brand-success, 26);
$color-success-light: tint($brand-success, 40);
$color-success-lighter: tint($brand-success, 80);

$color-warning-darker: shade($brand-warning, 40);
$color-warning-dark: shade($brand-warning, 26);
$color-warning-light: tint($brand-warning, 40);
$color-warning-lighter: tint($brand-warning, 80);

$color-danger-darker: shade($brand-danger, 40);
$color-danger-dark: shade($brand-danger, 26);
$color-danger-light: tint($brand-danger, 40);
$color-danger-lighter: tint($brand-danger, 80);

//== Grids
//## Used for Datagrid, Templategrid, Listview & Tables (see components folder)

// Default Border Colors
// $grid-border-color:                     $default-border-color;

// Background Colors
$grid-bg: transparent;
$grid-bg-header: transparent; // Grid Headers
// $grid-bg-hover:                         shade($color-primary-lighter,3);
// $grid-bg-selected:                      $brand-primary;
// $grid-bg-selected-hover:                shade($color-primary-lighter,3);

// Striped Background Color
// $grid-bg-striped:                       lighten($grid-border-color,5);

// Background Footer Color
// $grid-footer-bg:                        $gray-primary;

// Text Color
// $grid-selected-color:                   $font-base-color;

// Paging Colors
// $grid-paging-bg:                        transparent;
// $grid-paging-bg-hover:                  transparent;
// $grid-paging-border-color:              transparent;
// $grid-paging-border-color-hover:        transparent;
// $grid-paging-color:                     $gray-light;
// $grid-paging-color-hover:               $brand-primary;

//== Tabs
//## Default variables for Tab Container Widget (used in components/tabcontainer)

// Text Color
$tabs-color: #fff;
$tabs-color-active: #fff;
$tabs-lined-color-active: #fff;

// Border Color
$tabs-border-color: $color-text-white-hint;
$tabs-lined-border-color: $brand-primary;

// Background Color
$tabs-bg-hover: rgba(0, 0, 0, 0.1);
$tabs-bg-active: rgba(0, 0, 0, 0.1);

//== Modals
//## Default Mendix Modal, Blocking Modal and Login Modal (used in components/modals)

// Background Color
// $modal-header-bg:                       transparent;

// Border Color
// $modal-header-border-color:             $default-border-color;

// Text Color
// $modal-header-color:                    $font-base-color;

//== Dataview
//## Default variables for Dataview Widget (used in components/dataview)

// Controls
// $dataview-controls-bg:                  transparent;
// $dataview-controls-border-color:        $default-border-color;

// Empty Message
// $dataview-emptymessage-bg:              $bg-color;
// $dataview-emptymessage-color:           $font-base-color;

//== Alerts
//## Default Bootstrap alerts, not a widget in the Modeler (used in components/alerts)

// Background Color
// $alert-info-bg:                         $color-info-lighter;
// $alert-success-bg:                      $color-success-lighter;
// $alert-warning-bg:                      $color-warning-lighter;
// $alert-danger-bg:                       $color-danger-lighter;

// Text Color
// $alert-info-color:                      $color-info-darker;
// $alert-success-color:                   $color-success-darker;
// $alert-warning-color:                   $color-warning-darker;
// $alert-danger-color:                    $color-danger-darker;

// Border Color
// $alert-info-border-color:               $color-info-dark;
// $alert-success-border-color:            $color-success-dark;
// $alert-warning-border-color:            $color-warning-dark;
// $alert-danger-border-color:             $color-danger-dark;

//== Labels
//## Default Bootstrap Labels, not a widget in the Modeler (used in components/labels)

// Background Color
// $label-default-bg:                      $brand-default;
// $label-primary-bg:                      $brand-primary;
// $label-info-bg:                         $brand-info;
// $label-success-bg:                      $brand-success;
// $label-warning-bg:                      $brand-warning;
// $label-danger-bg:                       $brand-danger;

// Border Color
// $label-default-border-color:            $brand-default;
// $label-primary-border-color:            $brand-primary;
// $label-info-border-color:               $brand-info;
// $label-success-border-color:            $brand-success;
// $label-warning-border-color:            $brand-warning;
// $label-danger-border-color:             $brand-danger;

// Text Color
// $label-default-color:                   $font-base-color;
// $label-primary-color:                   #FFF;
// $label-info-color:                      #FFF;
// $label-success-color:                   #FFF;
// $label-warning-color:                   #FFF;
// $label-danger-color:                    #FFF;

//== Groupbox
//## Default variables for Groupbox Widget (used in components/groupbox)

// Background Color
// $groupbox-default-bg:                   $brand-default;
// $groupbox-inverse-bg:                   $brand-inverse;
// $groupbox-primary-bg:                   $brand-primary;
// $groupbox-info-bg:                      $brand-info;
// $groupbox-success-bg:                   $brand-success;
// $groupbox-warning-bg:                   $brand-warning;
// $groupbox-danger-bg:                    $brand-danger;
$groupbox-white-bg: #fff;

// Text Color
// $groupbox-default-color:                $color-text-black;
// $groupbox-inverse-color:                $color-text-white;
// $groupbox-primary-color:                $color-text-white;
// $groupbox-info-color:                   $color-text-white;
// $groupbox-success-color:                $color-text-white;
// $groupbox-warning-color:                $color-text-white;
// $groupbox-danger-color:                 $color-text-white;
// $groupbox-white-color:                  $font-base-color;

//== Callout (groupbox) Colors
//## Extended variables for Groupbox Widget (used in components/groupbox)

// Text and Border Color
$callout-info-color: $brand-info;
$callout-success-color: $brand-success;
$callout-warning-color: $brand-warning;
$callout-danger-color: $brand-danger;

// Background Color
// $callout-info-bg:                       $color-info-lighter;
// $callout-success-bg:                    $color-success-lighter;
// $callout-warning-bg:                    $color-warning-lighter;
// $callout-danger-bg:                     $color-danger-lighter;

//== Mobile
//##

//== Mobile Header
//## Specific mobile widgets and components (used in mobile/components/mx-header)

// Height
$m-header-height: 44px;

// Background Color
$m-header-bg: $topbar-bg;

// Text Color
// $m-header-color:                     $font-base-color;

// Link Color
$m-header-link-color: $brand-primary;

//== Layout Spacing
//## Advanced layout options (used in base/mixins/default-spacing)

$default-spacing-top: 35px;
$default-spacing-right: 25px;
$default-spacing-bottom: 35px;
$default-spacing-left: 25px;

$m-default-spacing-top: 10px;
$m-default-spacing-right: 15px;
$m-default-spacing-bottom: 10px;
$m-default-spacing-left: 15px;

$t-default-spacing-top: 20px;
$t-default-spacing-right: 15px;
$t-default-spacing-bottom: 20px;
$t-default-spacing-left: 15px;

//== Layouts
//##

// Scroll container / layout container default padding
// $padding-layoutcontainer-base:          0px;
// $m-padding-layoutcontainer-base:        0px;
// $t-padding-layoutcontainer-base:        0px;

// Combined spacing
// $default-spacing:                       $default-spacing-top $default-spacing-right $default-spacing-bottom $default-spacing-left;
// $m-default-spacing:                     $m-default-spacing-top $m-default-spacing-right $m-default-spacing-bottom $m-default-spacing-left;
// $t-default-spacing:                     $t-default-spacing-top $t-default-spacing-right $t-default-spacing-bottom $t-default-spacing-left;

//== Tables
//## Table spacing options (used in components/tables)

// $padding-table-cell-top:                8px;
// $padding-table-cell-bottom:             8px;
// $padding-table-cell-left:               8px;
// $padding-table-cell-right:              8px;

//== Media queries breakpoints
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone Deprecated `$screen-xs` as of v3.0.1
// $screen-xs:                             480px;
// Deprecated `$screen-xs-min` as of v3.2.0
// $screen-xs-min:                         $screen-xs;
// Deprecated `$screen-phone` as of v3.0.1
// $screen-phone:                          $screen-xs-min;

// Small screen / tablet Deprecated `$screen-sm` as of v3.0.1
$screen-sm: 768px;
$screen-sm-min: $screen-sm;
// Deprecated `$screen-tablet` as of v3.0.1
// $screen-tablet:                         $screen-sm-min;

// Medium screen / desktop Deprecated `$screen-md` as of v3.0.1
$screen-md: 992px;
$screen-md-min: $screen-md;
// Deprecated `$screen-desktop` as of v3.0.1
// $screen-desktop:                        $screen-md-min;

// Large screen / wide desktop Deprecated `$screen-lg` as of v3.0.1
// $screen-lg:                             1200px;
// $screen-lg-min:                         $screen-lg;
// Deprecated `$screen-lg-desktop` as of v3.0.1
// $screen-lg-desktop:                     $screen-lg-min;

// So media queries don't overlap when required, provide a maximum
// $screen-xs-max:                         ($screen-sm-min - 1);
// $screen-sm-max:                         ($screen-md-min - 1);
// $screen-md-max:                         ($screen-lg-min - 1);
