.grid {
    height: 100%;

    .boolean {
        margin-left: -8px;
        margin-right: -8px;
        padding: 0 8px;

        &.booleanTrue {
            background-color: #afe494;
        }
        &.booleanFalse {
            background-color: #e494af;
        }
        &.booleanUndefined {}
    }
}

.iconsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;

    .iconContainer {
        flex: 1;
        height: 100%;

        .icon {
            height: 100%;
            object-fit: contain;
        }
    }
}

