@use "~rc-slider/assets/index.css";
@use "~rc-tooltip/assets/bootstrap.css";

.widget-slider {
    padding: 4px 8px;
    margin-bottom: 16px;
    flex-grow: 1;

    .rc-slider-disabled {
        background-color: initial;
    }

    &.widget-slider-vertical {
        height: 100%;
    }
}
