.widget-carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.widget-carousel-item-wrapper {
    position: relative;
    width: 100%;
    will-change: transform;

    @mixin wrapper-shared {
        position: absolute;
        top: 0;
        width: 100%;
    }

    .active {
        display: block;
        left: 0;
    }

    .next {
        @extend .active;
        @include wrapper-shared;
    }

    .prev {
        @extend .active;
        @include wrapper-shared;
    }
}

.widget-carousel-item {
    position: relative;
    display: none;
    will-change: transform;

    img {
        line-height: 1;
        min-width: 100%;
        max-width: 100%;
        height: auto;
    }
}

@mixin animate {
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    -moz-transition: -moz-transform 0.6s ease-in-out;
    -o-transition: -o-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
}

@media all {
    .widget-carousel-item-wrapper {
        &.animate {
            @include animate;
            .widget-carousel-item {
                @include animate;
            }
        }
    }

    @mixin item-translate($percentage) {
        -webkit-transform: translate3d($percentage, 0, 0);
        transform: translate3d($percentage, 0, 0);
        left: 0;
    }
    .widget-carousel-item {
        &.next {
            @include item-translate(100%);
        }

        &.prev {
            @include item-translate(-100%);
        }

        &.active {
            @include item-translate(0);
        }
    }
}

.widget-carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    opacity: 0.5;

    &.left {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%) repeat-x;
    }

    &.right {
        right: 0;
        left: auto;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%) repeat-x;
    }

    @mixin on-hover-focus {
        color: #fff;
        text-decoration: none;
        filter: alpha(opacity=90);
        outline: none;
        opacity: 0.9;
    }

    &:focus {
        @include on-hover-focus;
    }

    &:hover {
        @include on-hover-focus;
    }

    @mixin glyphicon-position($position) {
        $position: 50%;
        margin-left: -10px;
    }

    @mixin glyphicon-shared {
        position: absolute;
        top: 50%;
        z-index: 5;
        display: inline-block;
    }

    .glyphicon-chevron-left {
        @include glyphicon-shared;
        @include glyphicon-position(left);
    }

    .glyphicon-chevron-right {
        @include glyphicon-shared;
        @include glyphicon-position(right);
    }
}

@media screen and (min-width: 768px) {
    .widget-carousel-control {
        @mixin glyphicon {
            width: 30px;
            height: 30px;
            margin-top: -15px;
            font-size: 30px;
        }

        .glyphicon-chevron-left {
            @include glyphicon;
            margin-left: -15px;
        }

        .glyphicon-chevron-right {
            @include glyphicon;
            margin-right: -15px;
        }
    }
}

.glyph-spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(359deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
