/* ==========================================================================
   Cards

========================================================================== */
.card {
    border: 0;
    border-radius: $border-radius-default;
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
}

//== Card components
//-------------------------------------------------------------------------------------------------------------------//
.card-body {
}

.card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(250, 250, 250, 0) 8%,
        rgba(0, 0, 0, 0.99) 121%,
        #000 100%
    );
}

.card-title {
}

.card-image {
    width: 100%;
    height: auto;
}

.card-supportingtext {
}

.card-action {
}

.card-icon{
    font-size: $font-size-h1;
}

//== Variations
//-------------------------------------------------------------------------------------------------------------------//
.card-with-image {
    overflow: hidden;
}

.card-with-background {
    position: relative;
}
