/* ==========================================================================
   Hero header

========================================================================== */

.headerhero {
    width: 100%;
    min-height: $header-min-height;
    background-color: $header-bg-color;
    position: relative;
    overflow: hidden;
}

//== Elements
//-------------------------------------------------------------------------------------------------------------------//
.headerhero-title {
    color: $header-text-color;
}

.headerhero-subtitle {
    color: $header-text-color;
}

.headerhero-backgroundimage {
    position: absolute;
    z-index: 0;
    top: 0;
    height: 100%;
    width: 100%;
    filter: $header-bgimage-filter;
}

.btn.headerhero-action {
    color: $header-text-color;
}

.heroheader-overlay {
    z-index: 1;
}
