/* ==========================================================================
   Form Block

   Used in default forms
========================================================================== */
.formblock {
}

//== Elements
//-------------------------------------------------------------------------------------------------------------------//
.formblock-title {
    margin-bottom: $gutter-size;
    padding-bottom: $gutter-size;
    border-bottom: 1px solid $border-color-default;
}
