.widget-scroll-container {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

.widget-scroll-container-wrapper {
  position: absolute;
  inset: 0;
  overflow: auto;
}
