@import "variables";

.widget-calendar {
    min-height: 350px;
    .rbc-calendar {
        width: 100%;
        height: 100%;
    }

    .rbc-event {
        min-height: 20px;
    }
}

.btn-link:hover {
    background-color: transparent !important;
    border: transparent !important;
}

.btn-link {
    border-top-width: 0px !important;
    border-right-width: 0px !important;
    border-bottom-width: 0px !important;
    border-left-width: 0px !important;
}

.btn-group .btn {
    min-height: 38px;
}

.rbc-toolbar {
    .btn {
        padding: 0.6em 1em;
    }
}

.calendar-label {
    font-size: 16px;
}

.align-right {
    float: right;
}

.calendar-toolbar {
    text-align: center;
    align-items: center;
    padding-bottom: 10px;
}

.align-left {
    float: left;
}

.rbc-current-time-indicator {
    background-color: $brand-danger;
}

.rbc-day-slot .rbc-event {
    border-top-color: $border-color-default;
    border-right-color: $border-color-default;
    border-bottom-color: $border-color-default;
    border-left-color: $border-color-default;
}

.rbc-off-range-bg {
    background-color: $color-default-lighter;
}

.rbc-today {
    background-color: $color-primary-lighter;
}

.rbc-event {
    background-color: #0595DB;
}
