.widget-calendar {
    .rbc-calendar {
        min-height: 580px !important;
    }

    .rbc-event {
        min-height: 20px;
    }
}

button.btn.mx-button.mx-name-paging-previous {
    border-color: transparent;
}

button.btn.mx-button.mx-name-paging-next {
    border-color: transparent;
}

.rbc-toolbar {
    .btn {
        padding: 0.6em 1em;
    }
}

.calendar-messages > button {
    display: none;
}

.calendar-messages > button.mx-button {
    display: inline-block;
}


