@import "variables";

.widget-calendar {
    min-height: 350px;
    margin-bottom: $form-group-margin-bottom;

    .rbc-calendar {
        width: 100%;
        height: 100%;
    }

    .rbc-event {
        min-height: 20px;
    }

    .mx-link {
        padding: 9.4px 12px;
    }

    .calendar-label {
        font-size: 16px;
    }

    .calendar-toolbar {
        text-align: center;
        align-items: center;
        padding-bottom: 10px;
    }

    .align-right {
        float: right;
    }

    .align-left {
        float: left;
    }

    .rbc-current-time-indicator {
        background-color: $brand-danger;
    }

    .rbc-day-slot .rbc-event {
        border-top-color: $border-color-default;
        border-right-color: $border-color-default;
        border-bottom-color: $border-color-default;
        border-left-color: $border-color-default;
    }

    .rbc-off-range-bg {
        background-color: $color-default-lighter;
    }

    .rbc-today {
        background-color: $color-primary-lighter;
    }

    .rbc-event {
        background-color: $brand-primary;
    }

}
