.video-player-iframe{
    position: absolute;
    border: 0px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.video-player-container{
    min-height: 250px;
}

.video-player-html5{
    /*object-fit: cover; -> problems with the video size */
    background-color: #000;
    position: absolute;
}
