@import "./variables"

.widget-switch
    float: left

    @media (min-width: 320px) and (max-width: 736px)
        float: right
    @media (min-width: 768px) and (max-width: 1024px)
        float: right

    .widget-switch-checkbox
        display: none

    .widget-switch-btn-wrapper
        background-color: #fff
        border: 1px solid #dfdfdf
        border-radius: 20px
        cursor: pointer
        display: inline-block
        height: 30px
        position: relative
        vertical-align: middle
        width: 50px

        -moz-user-select: none
        -webkit-user-select: none
        -ms-user-select: none
        user-select: none

        -webkit-box-sizing: content-box
        -moz-box-sizing: content-box
        box-sizing: content-box

        -webkit-background-clip: content-box
        background-clip: content-box

        &.checked
            transition: border 0.4s, box-shadow 0.4s, background-color 1.2s

            &.widget-switch-btn-wrapper-default
                background-color: $brand-default
                border-color: $brand-default
                box-shadow: $brand-default 0 0 0 16px inset

            &.widget-switch-btn-wrapper-success
                background-color: $brand-success
                border-color: $brand-success
                box-shadow: $brand-success 0 0 0 16px inset

            &.widget-switch-btn-wrapper-info
                background-color: $brand-info
                border-color: $brand-info
                box-shadow: $brand-info 0 0 0 16px inset

            &.widget-switch-btn-wrapper-primary
                background-color: $brand-primary
                border-color: $brand-primary
                box-shadow: $brand-primary 0 0 0 16px inset

            &.widget-switch-btn-wrapper-warning
                background-color: $brand-warning
                border-color: $brand-warning
                box-shadow: $brand-warning 0 0 0 16px inset

            &.widget-switch-btn-wrapper-danger
                background-color: $brand-danger
                border-color: $brand-danger
                box-shadow: $brand-danger 0 0 0 16px inset

        &.un-checked
            border-color: rgb(223, 223, 223)
            box-shadow: rgb(223, 223, 223) 0 0 0 0 inset
            transition: border 0.4s, box-shadow 0.4s

        .widget-switch-btn
            background: #fff
            border-radius: 100%
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4)
            height: 30px
            position: absolute
            top: 0
            width: 30px

            &.left
                left: 0
                transition: background-color 0.4s, left 0.2s

                &:active
                    width: 70%
                    border-radius: 45%

            &.right
                left: 20px
                transition: background-color 0.4s, left 0.2s
                background-color: rgb(255, 255, 255)

                &:active
                    left: 30%
                    transition: left 0s
                    width: 70%
                    border-radius: 45%

        &.no-switch
            .widget-switch-btn
                display: none
                &:active
                    box-shadow: none

        &.disabled
            opacity: 0.5
            cursor: default

            .left
                &:active
                    width: 30px
                    border-radius: 50%

            .right
                &:active
                    width: 30px
                    left: 20px
                    border-radius: 50%

.form-group
    .widget-switch
        float: left
    .control-label
        float: right
        padding-top: 8px
        padding-bottom: 8px

    .widget-switch
        @media (min-width: 320px) and (max-width: 736px)
            float: right
        @media (min-width: 768px) and (max-width: 1024px)
            float: right

    .control-label
        @media (min-width: 320px) and (max-width: 736px)
            float: left
        @media (min-width: 768px) and (max-width: 1024px)
            float: left
