@import "./variables"

@mixin bootstrap-style($brand-style)
    background-color: $brand-style
    border-color: $brand-style
    box-shadow: $brand-style 0 0 0 16px inset

@mixin dynamic-float($min-width, $max-width, $direction)
    @media (min-width: $min-width) and (max-width: $max-width)
        float: $direction

.widget-switch
    float: left

    .widget-switch-checkbox
        display: none

    .widget-switch-btn-wrapper
        background-color: #fff
        border: 1px solid #dfdfdf
        border-radius: 20px
        cursor: pointer
        display: inline-block
        height: 30px
        position: relative
        vertical-align: middle
        width: 50px

        -moz-user-select: none
        -webkit-user-select: none
        -ms-user-select: none
        user-select: none

        -webkit-box-sizing: content-box
        -moz-box-sizing: content-box
        box-sizing: content-box

        -webkit-background-clip: content-box
        background-clip: content-box

        &.checked
            transition: border 0.4s, box-shadow 0.4s, background-color 1.2s

            &.widget-switch-btn-wrapper-default
                @include bootstrap-style($brand-default)

            &.widget-switch-btn-wrapper-success
                @include bootstrap-style($brand-success)

            &.widget-switch-btn-wrapper-info
                @include bootstrap-style($brand-info)

            &.widget-switch-btn-wrapper-primary
                @include bootstrap-style($brand-primary)

            &.widget-switch-btn-wrapper-warning
                @include bootstrap-style($brand-warning)

            &.widget-switch-btn-wrapper-danger
                @include bootstrap-style($brand-danger)

        &.un-checked
            border-color: rgb(223, 223, 223)
            box-shadow: rgb(223, 223, 223) 0 0 0 0 inset
            transition: border 0.4s, box-shadow 0.4s

        .widget-switch-btn
            background: #fff
            border-radius: 100%
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4)
            height: 30px
            position: absolute
            top: 0
            width: 30px

            &.left
                left: 0
                transition: background-color 0.4s, left 0.2s

                &:active
                    width: 70%
                    border-radius: 45%

            &.right
                left: 20px
                transition: background-color 0.4s, left 0.2s
                background-color: rgb(255, 255, 255)

                &:active
                    left: 30%
                    transition: left 0s
                    width: 70%
                    border-radius: 45%

        &.no-switch
            .widget-switch-btn
                display: none
                &:active
                    box-shadow: none

        &.disabled
            opacity: 0.5
            cursor: default

            .left
                &:active
                    width: 30px
                    border-radius: 50%

            .right
                &:active
                    width: 30px
                    left: 20px
                    border-radius: 50%

.form-group
    .widget-switch
        float: left

    .control-label
        &.widget-switch-label
            float: right
            padding-top: 8px
            padding-bottom: 8px

    .widget-switch
        @include dynamic-float(320px, 736px, right)
        @include dynamic-float(768px, 1024px, right)

    .control-label
        &.widget-switch-label
            @include dynamic-float(320px, 736px, left)
            @include dynamic-float(768px, 1024px, left)
