.widget-slider {
    .rc-slider-handle,
    .rc-slider-dot-active {
        border-color: $brand-default;
        &:active {
            border-color: $brand-default;
        }
        &:hover {
            border-color: $brand-default;
        }
    }

    &.has-error {
        .rc-slider-track,
        .rc-slider-rail {
            background-color: $brand-danger;
        }
    }
}

.widget-slider-primary {
    .rc-slider-track {
        background-color: $brand-primary;
    }
}

.widget-slider-info {
    .rc-slider-track {
        background-color: $brand-info;
    }
}

.widget-slider-success {
    .rc-slider-track {
        background-color: $brand-success;
    }
}

.widget-slider-warning {
    .rc-slider-track {
        background-color: $brand-warning;
    }
}

.widget-slider-danger {
    .rc-slider-track {
        background-color: $brand-danger;
    }
}

.widget-slider-inverse {
    .rc-slider-track {
        background-color: $brand-inverse;
    }
}
