/* based on: https://raw.githubusercontent.com/mendix/atlas-framework/master/_variables.scss */
//== Mendix UI Framework - Welcome to variables file
//## The Basic step includes the customization that is also available in the Mendix Theme Creator (https://ux.mendix.com)

//
// ██████╗  █████╗ ███████╗██╗ ██████╗
// ██╔══██╗██╔══██╗██╔════╝██║██╔════╝
// ██████╔╝███████║███████╗██║██║
// ██╔══██╗██╔══██║╚════██║██║██║
// ██████╔╝██║  ██║███████║██║╚██████╗
// ╚═════╝ ╚═╝  ╚═╝╚══════╝╚═╝ ╚═════╝
//

//== Step 1: Brand Colors
$brand-default: #dddddd;
$brand-primary: #59c2e6;
$brand-inverse: #000;
$brand-info: #8ad4ed;
$brand-success: #8cc152;
$brand-warning: #f6bb42;
$brand-danger: #d9534f;
