@import "./variables";

.widget-slider {
    .rc-slider-handle, .rc-slider-dot-active {
        border: 2px solid $brand-default;
    }

    &.has-error {
        &.rc-slider-track, .rc-slider-rail {
            background-color: $brand-danger;
        }
    }

    /* correction to keep the marks on the edges readable*/
    .rc-slider-mark {
        left: 1%;
        width: 98%;
    }

    .rc-slider {
        &.rc-slider-with-marks {
            padding-bottom: 25px;
        }

        &.rc-slider-disabled {
            background-color: transparent;
        }
    }
}

/* Default margings and paddings */
.widget-slider {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    overflow: hidden;
}

.widget-slider-no-value {
    .rc-slider-track {
        display: none;
    }
}

.widget-slider-primary {
    .rc-slider-track {
        background-color: $brand-primary;
    }
}

.widget-slider-info {
    .rc-slider-track {
        background-color: $brand-info;
    }
}

.widget-slider-success {
    .rc-slider-track {
        background-color: $brand-success;
    }
}

.widget-slider-warning {
    .rc-slider-track {
        background-color: $brand-warning;
    }
}

.widget-slider-danger {
    .rc-slider-track {
        background-color: $brand-danger;
    }
}

.widget-slider-inverse {
    .rc-slider-track {
        background-color: $brand-inverse;
    }
}
