.widget-progress-bar .progress-bar-default {
    background-color: $brand-default;
}

.widget-progress-bar .progress-bar-primary {
    background-color: $brand-primary;
}

.widget-progress-bar .progress-bar-success {
    background-color: $brand-success;
}

.widget-progress-bar .progress-bar-info {
    background-color: $brand-info;
}

.widget-progress-bar .progress-bar-warning {
    background-color: $brand-warning;
}

.widget-progress-bar .progress-bar-danger {
    background-color: $brand-danger;
}

.widget-progress-bar .progress-bar-inverse {
    background-color: $brand-inverse;
}

.widget-progress-bar-alert.widget-progress-bar-text-contrast .progress-bar {
    color: $color-danger-darker;
}

.widget-progress-bar-text-contrast .progress-bar {
    color: $font-base-color;
}
