.widget-star-rating-full-default {
    color: $brand-default;
}

.widget-star-rating-full-primary {
    color: $brand-primary;
}

.widget-star-rating-full-success {
    color: $brand-success;
}

.widget-star-rating-full-info {
    color: $brand-info;
}

.widget-star-rating-full-warning {
    color: $brand-warning;
}

.widget-star-rating-full-danger {
    color: $brand-danger;
}

.widget-star-rating-full-inverse {
    color: $brand-inverse;
}
