@import "variables";

.widget-star-rating-font-small {
    font-size: 16px;
}

.widget-star-rating-font-medium {
    font-size: 30px;
}

.widget-star-rating-font-large {
    font-size: 50px;
}

.widget-star-rating-empty {
    color: #ccc;
}

.widget-star-rating-full-widget {
    color: #ffa611;
}

@import "star-rating-theme";
