import { Component, createElement } from "react";
import { BadgeSample, BadgeSampleProps } from "./components/BadgeSample";
import { WidgetNamePreviewProps } from "../typings/WidgetNameProps";

declare function require(name: string): string;

export class preview extends Component<WidgetNamePreviewProps> {
    render(): JSX.Element {
        return (
            <div ref={this.parentInline}>
                <BadgeSample {...this.transformProps(this.props)}></BadgeSample>
            </div>
        );
    }

    private parentInline(node?: HTMLElement | null): void {
        // Temporary fix, the web modeler add a containing div, to render inline we need to change it.
        if (node && node.parentElement && node.parentElement.parentElement) {
            node.parentElement.parentElement.style.display = "inline-block";
        }
    }

    private transformProps(props: WidgetNamePreviewProps): BadgeSampleProps {
        return {
            type: props.packageNameType,
            bootstrapStyle: props.bootstrapStyle,
            className: props.class,
            clickable: false,
            style: props.style,
            defaultValue: props.packageNameValue ? props.packageNameValue : "",
            value: props.valueAttribute
        };
    }
}

export function getPreviewCss(): string {
    return require("./ui/WidgetName.css");
}
