//== Mendix UI Framework - Welcome to variables file
//## The Basic step includes the customization that is also available in the Mendix Theme Creator (https://ux.mendix.com)

//
// ██████╗  █████╗ ███████╗██╗ ██████╗
// ██╔══██╗██╔══██╗██╔════╝██║██╔════╝
// ██████╔╝███████║███████╗██║██║
// ██╔══██╗██╔══██║╚════██║██║██║
// ██████╔╝██║  ██║███████║██║╚██████╗
// ╚═════╝ ╚═╝  ╚═╝╚══════╝╚═╝ ╚═════╝
//

//== Gray Shades
//## Different gray shades to be used for our variables and components
$gray-darker: #222;
$gray-dark: #333;
$gray: #555;
$gray-light: #999;
$gray-primary: #ddd;
$gray-lighter: #eee;

//== Step 1: Brand Colors
$brand-default: #dddddd;
$brand-primary: #0595db;
$brand-inverse: #252c36;
$brand-info: #48b0f7;
$brand-success: #76ca02;
$brand-warning: #f99b1d;
$brand-danger: #ed1c24;

$brand-logo: "../../../logo.svg";
$brand-logo-height: 40px;
$brand-logo-width: 40px; // Only used for CSS brand logo

//== Step 2: UI Customization

// Global Border Color
$default-border-color: $gray-primary;

// Topbar
$topbar-bg: $brand-primary;
$topbar-minimalheight: 60px;
$topbar-border-color: transparent;

// Sidebar
$sidebar-bg: $brand-inverse;

// Navbar Brand Name / For your company, product, or project name (used in layouts/base/)
$navbar-brand-name: #fff;

// Background Colors
$bg-color: #fff;
// Background color that is used for specific page templates background
$bg-color-secondary: #f8f8f8;

// Default Font Size & Color
$font-base-size: 14px;
$font-base-color: #555;

// Default Link Color
$link-color: $brand-primary;
$link-hover-color: darken($link-color, 15%);

//
//  █████╗ ██████╗ ██╗   ██╗ █████╗ ███╗   ██╗ ██████╗███████╗██████╗
// ██╔══██╗██╔══██╗██║   ██║██╔══██╗████╗  ██║██╔════╝██╔════╝██╔══██╗
// ███████║██║  ██║██║   ██║███████║██╔██╗ ██║██║     █████╗  ██║  ██║
// ██╔══██║██║  ██║╚██╗ ██╔╝██╔══██║██║╚██╗██║██║     ██╔══╝  ██║  ██║
// ██║  ██║██████╔╝ ╚████╔╝ ██║  ██║██║ ╚████║╚██████╗███████╗██████╔╝
// ╚═╝  ╚═╝╚═════╝   ╚═══╝  ╚═╝  ╚═╝╚═╝  ╚═══╝ ╚═════╝╚══════╝╚═════╝
//

//== Typography
//## Change your font family, weight, line-height, headings and more (used in components/typography)

// Font Family / False = fallback from Bootstrap (Helvetica Neue)
$font-family-base: false; //"Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-light: false; //"Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-semibold: false; //"Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-bold: false; //"Helvetica Neue", Helvetica, Arial, sans-serif;

// Font Size
$font-size-large: ceil($font-base-size * 1.25); // ~18px
$font-size-small: ceil($font-base-size * 0.85); // ~12px

// Font Weights
$font-weight-light: 100;
$font-weight-normal: normal;
$font-weight-semibold: 500;
$font-weight-bold: bold;

$font-weight-header: $font-weight-normal;

// Font Header Size
$font-size-h1: 31px;
$font-size-h2: 26px;
$font-size-h3: 24px;
$font-size-h4: 18px;
$font-size-h5: $font-base-size;
$font-size-h6: 11px;

// Font Header Color
$font-color-headers: #000; // Used by theme customizer
$font-color-header: $font-color-headers;
$font-color-detail: $gray;

// Line Height
$line-height-base: 1.428571429;

// Spacing
$font-header-margin: 10px 0 20px 0;

//== Navigation
//## Used in components/navigation

// Navigation Sidebar
$navsidebar-font-size: $font-base-size;
$navsidebar-sub-font-size: $font-size-small;
$navsidebar-glyph-size: 1.2em; // For glyphicons that you can select in the Mendix Modeler

$navsidebar-bg: $sidebar-bg;
$navsidebar-bg-hover: lighten($navsidebar-bg, 4);
$navsidebar-bg-active: lighten($navsidebar-bg, 8);
$navsidebar-color: #fff;
$navsidebar-color-hover: $brand-primary;
$navsidebar-color-active: $brand-primary;

$navsidebar-sub-bg: darken($navsidebar-bg, 4);
$navsidebar-sub-bg-hover: $navsidebar-sub-bg;
$navsidebar-sub-bg-active: $navsidebar-sub-bg;
$navsidebar-sub-color: #aaa;
$navsidebar-sub-color-hover: $brand-primary;
$navsidebar-sub-color-active: $brand-primary;

$navsidebar-border-color: $navsidebar-bg-hover;

// Navigation topbar
$navtopbar-font-size: $font-base-size;
$navtopbar-sub-font-size: $font-size-small;
$navtopbar-glyph-size: 1.2em; // For glyphicons that you can select in the Mendix Modeler

$navtopbar-bg: $topbar-bg;
$navtopbar-bg-hover: darken($navtopbar-bg, 4);
$navtopbar-bg-active: darken($navtopbar-bg, 8);
$navtopbar-color: #fff;
$navtopbar-color-hover: #fff;
$navtopbar-color-active: #fff;

$navtopbar-sub-bg: lighten($navtopbar-bg, 4);
$navtopbar-sub-bg-hover: $navtopbar-sub-bg;
$navtopbar-sub-bg-active: $navtopbar-sub-bg;
$navtopbar-sub-color: #aaa;
$navtopbar-sub-color-hover: $brand-primary;
$navtopbar-sub-color-active: #fff;

//## Used in layouts/base
$navtopbar-border-color: $topbar-border-color;

//== Form
//## Used in components/inputs

// Values that can be used default | lined
$form-input-style: default;

// Form Label
$form-label-color: #666;
$form-label-size: $font-base-size;
$form-label-weight: $font-weight-normal;

// Form Input dimensions
$form-input-height: auto;
$form-input-padding-y: 8px;
$form-input-padding-x: 10px;
$form-input-font-size: $form-label-size;
$form-input-line-height: $line-height-base;
$form-input-border-radius: 4px;

// Form Input styling
$form-input-bg: #fff;
$form-input-bg-focus: #fff;
$form-input-bg-disabled: $gray-lighter;
$form-input-color: $font-base-color;
$form-input-focus-color: $form-input-color;
$form-input-disabled-color: $form-input-color;
$form-input-placeholder-color: $gray-light;
$form-input-border-color: $default-border-color;
$form-input-border-focus-color: $brand-primary;

// Form Group
$form-group-margin-bottom: 15px;
$form-group-gutter: 15px;

//== Buttons
//## Define background-color, border-color and text. Used in components/buttons

// Default button style
$btn-bordered: false; // Default value false, set to true if you want this effect
$btn-border-radius: 4px;

// Button Text Size
$btn-font-size: 12px;

// Button Background Color
$btn-default-bg: $brand-default;
$btn-inverse-bg: $brand-inverse;
$btn-primary-bg: $brand-primary;
$btn-info-bg: $brand-info;
$btn-success-bg: $brand-success;
$btn-warning-bg: $brand-warning;
$btn-danger-bg: $brand-danger;

// Button Border Color
$btn-default-border-color: $brand-default;
$btn-inverse-border-color: $brand-inverse;
$btn-primary-border-color: $brand-primary;
$btn-info-border-color: $brand-info;
$btn-success-border-color: $brand-success;
$btn-warning-border-color: $brand-warning;
$btn-danger-border-color: $brand-danger;

// Button Text Color
$btn-default-color: $font-base-color;
$btn-inverse-color: #fff;
$btn-primary-color: #fff;
$btn-info-color: #fff;
$btn-success-color: #fff;
$btn-warning-color: #fff;
$btn-danger-color: #fff;

// Button Background Color
$btn-default-bg-hover: mix($brand-default, black, 80%);
$btn-inverse-bg-hover: mix($brand-inverse, white, 80%);
$btn-primary-bg-hover: mix($brand-primary, black, 80%);
$btn-info-bg-hover: mix($brand-info, black, 80%);
$btn-success-bg-hover: mix($brand-success, black, 80%);
$btn-warning-bg-hover: mix($brand-warning, black, 80%);
$btn-danger-bg-hover: mix($brand-danger, black, 80%);

//== Header blocks
//## Define look and feel over multible building blocks that serve as header
$header-bg-color: $topbar-bg;
$header-text-color: #fff;
$header-text-color-detail: rgba(0, 0, 0, 0.2);

//
// ███████╗██╗  ██╗██████╗ ███████╗██████╗ ████████╗
// ██╔════╝╚██╗██╔╝██╔══██╗██╔════╝██╔══██╗╚══██╔══╝
// █████╗   ╚███╔╝ ██████╔╝█████╗  ██████╔╝   ██║
// ██╔══╝   ██╔██╗ ██╔═══╝ ██╔══╝  ██╔══██╗   ██║
// ███████╗██╔╝ ██╗██║     ███████╗██║  ██║   ██║
// ╚══════╝╚═╝  ╚═╝╚═╝     ╚══════╝╚═╝  ╚═╝   ╚═╝
//

//== Color variations
//## These variations are used to support several other variables and components

// Color variations
$color-default-darker: mix($brand-default, black, 60%);
$color-default-dark: mix($brand-default, black, 70%);
$color-default-light: mix($brand-default, white, 60%);
$color-default-lighter: mix($brand-default, white, 20%);

$color-inverse-darker: mix($brand-inverse, black, 60%);
$color-inverse-dark: mix($brand-inverse, black, 70%);
$color-inverse-light: mix($brand-inverse, white, 60%);
$color-inverse-lighter: mix($brand-inverse, white, 20%);

$color-primary-darker: mix($brand-primary, black, 60%);
$color-primary-dark: mix($brand-primary, black, 70%);
$color-primary-light: mix($brand-primary, white, 60%);
$color-primary-lighter: mix($brand-primary, white, 20%);

$color-info-darker: mix($brand-info, black, 60%);
$color-info-dark: mix($brand-info, black, 70%);
$color-info-light: mix($brand-info, white, 60%);
$color-info-lighter: mix($brand-info, white, 20%);

$color-success-darker: mix($brand-success, black, 60%);
$color-success-dark: mix($brand-success, black, 70%);
$color-success-light: mix($brand-success, white, 60%);
$color-success-lighter: mix($brand-success, white, 20%);

$color-warning-darker: mix($brand-warning, black, 60%);
$color-warning-dark: mix($brand-warning, black, 70%);
$color-warning-light: mix($brand-warning, white, 60%);
$color-warning-lighter: mix($brand-warning, white, 20%);

$color-danger-darker: mix($brand-danger, black, 60%);
$color-danger-dark: mix($brand-danger, black, 70%);
$color-danger-light: mix($brand-danger, white, 60%);
$color-danger-lighter: mix($brand-danger, white, 20%);

//== Grids
//## Used for Datagrid, Templategrid, Listview & Tables (see components folder)

// Default Border Colors
$grid-border-color: $default-border-color;

// Spacing
$grid-padding-top: 10px;
$grid-padding-right: 10px;
$grid-padding-bottom: 10px;
$grid-padding-left: 10px;

// Background Colors
$grid-bg: #fff;
$grid-bg-header: transparent; // Grid Headers
$grid-bg-hover: shade($color-primary-lighter, 3);
$grid-bg-selected: $brand-primary;
$grid-bg-selected-hover: shade($color-primary-lighter, 3);

// Striped Background Color
$grid-bg-striped: lighten($grid-border-color, 5);

// Background Footer Color
$grid-footer-bg: $gray-primary;

// Text Color
$grid-selected-color: $font-base-color;

// Paging Colors
$grid-paging-bg: transparent;
$grid-paging-bg-hover: transparent;
$grid-paging-border-color: transparent;
$grid-paging-border-color-hover: transparent;
$grid-paging-color: $gray-light;
$grid-paging-color-hover: $brand-primary;

//== Tabs
//## Default variables for Tab Container Widget (used in components/tabcontainer)

// Text Color
$tabs-color: $font-color-detail;
$tabs-color-active: $font-base-color;
$tabs-lined-color-active: $brand-primary;

// Border Color
$tabs-border-color: $default-border-color;
$tabs-lined-border-color: $brand-primary;

// Background Color
$tabs-bg: #fff;
$tabs-bg-hover: lighten($tabs-border-color, 5);
$tabs-bg-active: $brand-primary;

//== Modals
//## Default Mendix Modal, Blocking Modal and Login Modal (used in components/modals)

// Background Color
$modal-header-bg: transparent;

// Border Color
$modal-header-border-color: $default-border-color;

// Text Color
$modal-header-color: $font-base-color;

//== Dataview
//## Default variables for Dataview Widget (used in components/dataview)

// Controls
$dataview-controls-bg: transparent;
$dataview-controls-border-color: $default-border-color;

// Empty Message
$dataview-emptymessage-bg: $bg-color;
$dataview-emptymessage-color: $font-base-color;

//== Alerts
//## Default Bootstrap alerts, not a widget in the Modeler (used in components/alerts)

// Background Color
$alert-info-bg: $color-info-lighter;
$alert-success-bg: $color-success-lighter;
$alert-warning-bg: $color-warning-lighter;
$alert-danger-bg: $color-danger-lighter;

// Text Color
$alert-info-color: $color-info-darker;
$alert-success-color: $color-success-darker;
$alert-warning-color: $color-warning-darker;
$alert-danger-color: $color-danger-darker;

// Border Color
$alert-info-border-color: $color-info-dark;
$alert-success-border-color: $color-success-dark;
$alert-warning-border-color: $color-warning-dark;
$alert-danger-border-color: $color-danger-dark;

//== Labels
//## Default Bootstrap Labels, not a widget in the Modeler (used in components/labels)

// Background Color
$label-default-bg: $brand-default;
$label-primary-bg: $brand-primary;
$label-info-bg: $brand-info;
$label-success-bg: $brand-success;
$label-warning-bg: $brand-warning;
$label-danger-bg: $brand-danger;

// Border Color
$label-default-border-color: $brand-default;
$label-primary-border-color: $brand-primary;
$label-info-border-color: $brand-info;
$label-success-border-color: $brand-success;
$label-warning-border-color: $brand-warning;
$label-danger-border-color: $brand-danger;

// Text Color
$label-default-color: $font-base-color;
$label-primary-color: #fff;
$label-info-color: #fff;
$label-success-color: #fff;
$label-warning-color: #fff;
$label-danger-color: #fff;

//== Groupbox
//## Default variables for Groupbox Widget (used in components/groupbox)

// Background Color
$groupbox-default-bg: $brand-default;
$groupbox-inverse-bg: $brand-inverse;
$groupbox-primary-bg: $brand-primary;
$groupbox-info-bg: $brand-info;
$groupbox-success-bg: $brand-success;
$groupbox-warning-bg: $brand-warning;
$groupbox-danger-bg: $brand-danger;
$groupbox-white-bg: #fff;

// Text Color
$groupbox-default-color: $font-base-color;
$groupbox-inverse-color: #fff;
$groupbox-primary-color: #fff;
$groupbox-info-color: #fff;
$groupbox-success-color: #fff;
$groupbox-warning-color: #fff;
$groupbox-danger-color: #fff;
$groupbox-white-color: $font-base-color;

//== Callout (groupbox) Colors
//## Extended variables for Groupbox Widget (used in components/groupbox)

// Text and Border Color
$callout-info-color: $brand-info;
$callout-success-color: $brand-success;
$callout-warning-color: $brand-warning;
$callout-danger-color: $brand-danger;

// Background Color
$callout-info-bg: $color-info-lighter;
$callout-success-bg: $color-success-lighter;
$callout-warning-bg: $color-warning-lighter;
$callout-danger-bg: $color-danger-lighter;

//== Layout Spacing
//## Advanced layout options (used in base/mixins/default-spacing)

$default-spacing-top: 35px;
$default-spacing-right: 40px;
$default-spacing-bottom: 35px;
$default-spacing-left: 40px;

$m-default-spacing-top: 10px;
$m-default-spacing-right: 15px;
$m-default-spacing-bottom: 10px;
$m-default-spacing-left: 15px;

$t-default-spacing-top: 20px;
$t-default-spacing-right: 30px;
$t-default-spacing-bottom: 20px;
$t-default-spacing-left: 30px;

//== Layouts
//##

// Scroll container / layout container default padding
$padding-layoutcontainer-base: 0px;
$m-padding-layoutcontainer-base: 0px;
$t-padding-layoutcontainer-base: 0px;

// Combined spacing
$default-spacing: $default-spacing-top $default-spacing-right $default-spacing-bottom $default-spacing-left;
$m-default-spacing: $m-default-spacing-top $m-default-spacing-right $m-default-spacing-bottom $m-default-spacing-left;
$t-default-spacing: $t-default-spacing-top $t-default-spacing-right $t-default-spacing-bottom $t-default-spacing-left;

//== Tables
//## Table spacing options (used in components/tables)

$padding-table-cell-top: 8px;
$padding-table-cell-bottom: 8px;
$padding-table-cell-left: 8px;
$padding-table-cell-right: 8px;

//== Media queries breakpoints
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone Deprecated `$screen-xs` as of v3.0.1
$screen-xs: 480px;

// Small screen / tablet Deprecated `$screen-sm` as of v3.0.1
$screen-sm: 768px;

// Medium screen / desktop Deprecated `$screen-md` as of v3.0.1
$screen-md: 992px;

// Large screen / wide desktop Deprecated `$screen-lg` as of v3.0.1
$screen-lg: 1200px;

// So media queries don't overlap when required, provide a maximum (used for max-width)
$screen-xs-max: ($screen-sm - 1);
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);
