.widget-leaflet-maps-wrapper {
    position: relative;
}

.widget-leaflet-maps-wrapper > div {
    top: 0; bottom: 0; left: 0; right: 0;
    position: absolute;
    z-index: 1;
}

.widget-leaflet-maps-alert.leaflet-control {
    float: none;
    z-index: 1;
}

.widget-leaflet-maps .marker {
    cursor: pointer;
}

.widget-google-maps-wrapper {
    position: relative;
}

.widget-google-maps-wrapper > div {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}
