@mixin transition($style: initial, $delay: 0s, $duration: 0.3s, $property: all, $timing-fucntion: cubic-bezier(0.4, 0, 0.2, 1)) {
    -webkit-transition: $property $duration $delay $timing-fucntion;
    -moz-transition: $property $duration $delay $timing-fucntion;
    -o-transition: $property $duration $delay $timing-fucntion;
    transition: $property $duration $delay $timing-fucntion;
    transform-style: $style;
}

@mixin ripple($color: #000, $transparency: 10%, $scale: 10) {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);

    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        background-image: radial-gradient(circle, $color $transparency, transparent $transparency);
        background-repeat: no-repeat;
        background-position: 50%;
        -webkit-transform: scale($scale, $scale);
        transform: scale($scale, $scale);
        opacity: 0;
        -webkit-transition: transform .5s, opacity 1s;
        -moz-transition: transform .5s, opacity 1s;
        -o-transition: transform .5s, opacity 1s;
        transition: transform .5s, opacity 1s;
    }

    &:active:after {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        opacity: .1;
        transition: 0s;
    }
}