@mixin groupbox-variant($color, $background) {
    > .mx-groupbox-header {
        color: $color;
        border-color: $background;
        background: $background;
    }
    > .mx-groupbox-body {
        border-color: $background;
    }
}
