@use "../../../node_modules/ckeditor4/contents.css";
@use "../../../node_modules/ckeditor4/skins/moono-lisa/editor.css";
@use "../../../node_modules/ckeditor4/plugins/tableselection/styles/tableselection.css";
@use "../../../node_modules/ckeditor4/plugins/dialog/styles/dialog.css" as dialog;
@use "../../../node_modules/ckeditor4/plugins/scayt/dialogs/dialog.css" as scaytDialog;
@use "../../../node_modules/ckeditor4/plugins/scayt/skins/moono-lisa/scayt.css";

.widget-rich-text {
    .cke,
    .cke_chrome {
        visibility: visible;
    }

    &.editor-text {
        .cke {
            border: none;
        }

        .cke_top,
        .cke_bottom {
            background: inherit;
            display: none;
        }
    }

    &.editor-bordered {
        .cke {
            border: 1px solid #d1d1d1;
        }

        .cke_top,
        .cke_bottom {
            background: inherit;
            display: none;
        }
    }

    &.editor-borderedToolbar {
    }
}
