.widget-sidebar {
    background-color: #24276c;
    height: 100%;
    width: 0;
    transition: width 0.2s ease-in;
    overflow: hidden;
}

.widget-sidebar-slide-over {
    overflow: hidden;
    position: absolute;
    z-index: 999;
}
