.widget-tree-view {
    height: 100%;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;

    .widget-tree-view-branch {
        display: block;

        &:focus-visible {
            outline: none;
            & > .widget-tree-view-branch-header {
                outline: -webkit-focus-ring-color auto 1px;
                outline: -moz-mac-focusring auto 1px;
            }
        }
    }

    .widget-tree-view-branch-header-clickable {
        cursor: pointer;
    }

    .widget-tree-view-branch-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 8px 0;

        svg {
            &.widget-tree-view-branch-header-icon-animated {
                transition: transform 0.2s ease-in-out 50ms;
            }
            &.widget-tree-view-branch-header-icon-collapsed-left {
                transform: rotate(-90deg);
            }
            &.widget-tree-view-branch-header-icon-collapsed-right {
                transform: rotate(90deg);
            }
        }

        .widget-tree-view-loading-spinner {
            width: 16px;
            height: 16px;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }

    .widget-tree-view-branch-header-reversed {
        flex-direction: row-reverse;
    }

    .widget-tree-view-branch-header-value {
        flex: 1;
        font-size: 16px;
        margin: 0 8px;
    }

    .widget-tree-view-body {
        padding-left: 12px;
        border-left: blue 1px solid;
        transition: height 0.2s ease 50ms;
        overflow: hidden;

        &.widget-tree-view-branch-hidden {
            display: none;
        }
    }
}
