.widget-tree-view {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .widget-tree-view-branch-header-clickable {
        cursor: pointer;
    }

    .widget-tree-view-branch-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 8px 0;

        .glyphicon.widget-tree-view-branch-header-icon {
            font-size: 16px;
        }
    }

    .widget-tree-view-branch-header-reversed {
        flex-direction: row-reverse;
    }

    .widget-tree-view-branch-header-value {
        flex: 1;
        font-size: 16px;
        margin: 0 8px;
    }

    .widget-tree-view-body {
        padding-left: 12px;
        border-left: blue 1px solid;
    }

    .widget-tree-view-branch-hidden {
        display: none;
    }
}

.widget-tree-view-lazy-loading-placeholder {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 9px;

    .widget-tree-view-placeholder-text {
        margin-left: 8px;
        color: #264ae5;
        font-size: 16px;
    }

    .widget-tree-view-loading-spinner {
        width: 16px;
        height: 16px;
        animation: spin 2s linear infinite;
    }
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}
