//
// DISCLAIMER:
// Do not change this file because it is core styling.
// Customizing core files will make updating Atlas much more difficult in the future.
// To customize any core styling, copy the part you want to customize to styles/web/sass/app/ so the core styling is overwritten.
//

/* ==========================================================================
   Dataview

   Default Mendix Dataview Widget. The data view is used for showing the contents of exactly one object
========================================================================== */

.mx-dataview {
    /* Dataview-content gives problems for nexted layout grid containers */
    > .mx-dataview-content > .mx-container-nested {
        > .row {
            margin-right: 0;
            margin-left: 0;
        }
    }
    /* Dataview empty message */
    .mx-dataview-message {
        color: $dataview-emptymessage-color;
        background: $dataview-emptymessage-bg;
    }
}

.mx-dataview-controls {
    margin-top: $spacing-medium;
    padding: $spacing-medium 0 0;
    border-top: 1px solid $dataview-controls-border-color;
    border-radius: 0;
    background-color: $dataview-controls-bg;
    /* Buttons */
    .mx-button {
        margin-right: $spacing-small;
        margin-bottom: 0;
        &:last-child {
            margin-right: 0;
        }
    }
    background-color: inherit;
}
