name: Run unit tests

on:
    push:
        branches: [master]
    pull_request:
        branches: [master]

jobs:
    test:
        name: "Unit tests"
        runs-on: ubuntu-latest

        steps:
            - name: "Checking changed files"
              id: files
              uses: jitterbit/get-changed-files@v1
            - name: "Checking-out code"
              uses: actions/checkout@v2
              with:
                  submodules: false
            - name: "Fetching master to compare"
              if: github.event_name == 'pull_request'
              run:
                  git fetch --no-tags --prune --depth=1 origin +refs/heads/${{ github.base_ref
                  }}:refs/remotes/origin/${{ github.base_ref }}
            - name: "Defining environment variables"
              id: variables
              run: |
                  export CHANGED_GLOBAL_FILES=$(echo "${{ steps.files.outputs.all }}" | grep -v "^packages")
                  echo "::set-output name=arg::$(if [ "${CHANGED_GLOBAL_FILES}" = "" ] && [ ${{ github.event_name == 'pull_request' }} ]; then echo '--since origin/${{ github.base_ref }}'; else echo ''; fi)"
            - name: "Defining cache"
              uses: actions/cache@v2
              env:
                  cache-name: cache-node-modules
              with:
                  path: ~/.npm
                  key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
            - name: "Installing dependencies"
              run: npm install
            - name: "Linting code"
              run: npm run lint -- ${{ steps.variables.outputs.arg }}
            - name: "Running unit tests"
              run: npm run test -- ${{ steps.variables.outputs.arg }}
